<html>
    <head>
        <title>Timetable Global Administration</title>

        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- .cam.ac.uk domain Typekit inclusion -->
        <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link rel="stylesheet" href="/shared/vendor/css/font-awesome.css">
        <link rel="stylesheet" href="/shared/vendor/css/bootstrap.css">
        <link rel="stylesheet" href="/shared/vendor/css/chosen.css">
        <link rel="stylesheet" href="/shared/vendor/css/fullcalendar.css">
        <link rel="stylesheet" href="/shared/gh/css/gh.base.css">
        <link rel="stylesheet" href="/shared/gh/css/gh.components.css">
        <link rel="stylesheet" href="/shared/gh/css/gh.skin.css">
        <link rel="stylesheet" href="/apps/admin/ui/css/admin.css">
        <link rel='stylesheet' href="/shared/gh/css/gh.print.css" media="print">
    </head>
    <body class="gh-global-admin gh-preload">
        <div id="gh-page-container">
            <div id="gh-left-container">
                <div id="gh-meta-container">
                    <a href="http://cam.ac.uk" id="gh-header-logo" target="_blank" title="Visit the Cambridge University website">
                        <img src="/shared/gh/img/unilogo.png" alt="Cambridge University">
                    </a>
                    <div id="gh-content-description">
                        <p class="gh-academic-year-select">Manage all apps and tenants</p>
                    </div>
                </div>
                <div id="gh-navigation-container"><!-- --></div>
            </div>
            <div id="gh-right-container">
                <div id="gh-header-container">
                    <div id="gh-header"></div>
                    <div id="gh-subheader"></div>
                </div>
                <main id="gh-main">
                    <div id="gh-configuration-container" class="gh-administration-container" style="display: none;"><!-- --></div>
                    <div id="gh-tenants-container" class="gh-administration-container" style="display: none;"><!-- --></div>
                    <div id="gh-administrators-container" class="gh-administration-container" style="display: none;">
                        <h1>Users</h1>
                        <div id="gh-global-users-container"><!-- --></div>
                        <div id="gh-app-users-container"><!-- --></div>
                    </div>
                </main>
            </div>
            <div class="clearfix"></div>
        </div>

        <script id="gh-configuration-template" type="text/template">
            <h1>Configuration</h1>
            <% _.each(tenants, function(tenant) { %>
                <% _.each(tenant.apps, function(app) { %>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <% var randomId = gh.utils.generateRandomString(true); %>
                                    <a data-toggle="collapse" data-parent="#accordion" href="#<%= randomId %>" aria-expanded="false" aria-controls="<%= randomId %>">
                                        <%- tenant.displayName %> - <%- app.displayName %> - <%- app.host %>
                                    </a>
                                </h4>
                            </div>
                            <div id="<%= randomId %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form role="form" class="gh-configuration-form" data-appid="<%= app.id %>">
                                        <% _.each(app.config, function(value, option) { %>
                                            <% if (option === 'AppId' || option === 'terms' || option === 'events') { return; }%>
                                            <% if (typeof value === 'boolean') { %>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="<%= option %>" value="<%= value %>" <% if (value === true) { %> checked<% } %>> <%= option %>
                                                    </label>
                                                </div>
                                            <% } else { %>
                                                <div class="form-group">
                                                    <label for="<%= option %>"><%= option %></label>
                                                    <input type="text" class="form-control" id="<%= option %>" value="<%= value %>" name="<%= option %>">
                                                </div>
                                            <% } %>
                                        <% }); %>
                                        <button type="submit" class="btn btn-primary">Update configuration</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% }); %>
        </script>

        <script id="gh-tenants-template" type="text/template">
            <h1>Tenants and Apps</h1>

            <h2>Create a new tenant</h2>
            <form id="gh-tenants-create-tenant-form">
                <div class="form-group">
                    <label for="gh-tenant-name" class="control-label">Tenant display name</label>
                    <input type="text" id="gh-tenant-name" class="form-control" placeholder="New tenant name"/>
                </div>
                <button type="submit" class="btn btn-default">Create tenant</button>
            </form>

            <h2>Tenants in the system</h2>
            <% _.each(tenants, function(tenant) { %>
                <div class="panel-default gh-striped-container">
                    <h3 class="panel-heading"><%- tenant.displayName %></h3>
                    <div class="panel-body">
                        <div class="panel-subheading row">
                            <div class="gh-striped-heading col-sm-3">App name</div>
                            <div class="gh-striped-heading col-sm-3">App host</div>
                            <div class="gh-striped-heading col-sm-2">App enabled</div>
                            <div class="gh-striped-heading col-sm-4">Actions</div>
                        </div>
                        <% _.each(tenant.apps, function(app) { %>
                            <div class="gh-striped-row row">
                                <form class="gh-tenants-app-update-form" data-appid="<%- app.id %>">
                                    <div class="col-sm-3">
                                        <input class="gh-app-displayname" type="text" placeholder="App name" value="<%- app.displayName %>"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="gh-app-host" type="text" placeholder="App host" value="<%- app.host %>"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="gh-app-enabled" type="checkbox"<% if (app.enabled) { %> checked<% } %>/>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary pull-left">Update app</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="//<%- app.host %>" target="_blank" class="btn btn-info pull-left"><i class="fa fa-external-link"></i> Open app</a>
                                    </div>
                                </form>
                            </div>
                        <% }); %>
                        <div class="gh-striped-row row">
                            <form class="gh-tenants-app-create-form" data-tenantid="<%- tenant.id %>">
                                <div class="col-sm-3">
                                    <input class="gh-app-displayname" type="text" placeholder="New app name"/>
                                </div>
                                <div class="col-sm-3">
                                    <input class="gh-app-host" type="text" placeholder="New app host"/>
                                </div>
                                <div class="col-sm-2">
                                    <input class="gh-app-enabled" type="checkbox" checked disabled/>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-success pull-left">Create app</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </script>

        <script id="gh-administrators-template" type="text/template">
            <h2>Global administrators</h2>
            <div class="panel-default gh-striped-container">
                <h3 class="panel-heading">
                    <span>Global administrators</span>
                </h3>
                <div class="panel-body">
                    <div class="panel-subheading row">
                        <div class="gh-striped-heading col-sm-3">Admin name</div>
                        <div class="gh-striped-heading col-sm-2">Admin username</div>
                        <div class="gh-striped-heading col-sm-3">Admin password</div>
                        <div class="gh-striped-heading col-sm-4">Actions</div>
                    </div>
                    <% _.each(administrators, function(admin) { %>
                        <div class="gh-striped-row row">
                            <form class="gh-administrators-update-form" data-userid="<%- admin.id %>">
                                <div class="col-sm-3">
                                    <input id="gh-admin-displayname" type="text" placeholder="Administrator name" value="<%- admin.displayName %>"/>
                                </div>
                                <div class="col-sm-2">
                                    <input id="gh-admin-username" type="text" placeholder="Administrator username" value="<%- admin.username %>" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <input id="gh-admin-password" type="password" placeholder="Administrator password"/>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger gh-administrators-delete" data-userid="<%- admin.id %>" <% if (administrators.length === 1) { %>disabled<% } %>>Delete</button>
                                </div>
                            </form>
                        </div>
                    <% }); %>
                    <div class="gh-striped-row row">
                        <form id="gh-administrators-create-form">
                            <div class="col-sm-3">
                                <input id="gh-admin-displayname" type="text" placeholder="New administrator name"/>
                            </div>
                            <div class="col-sm-2">
                                <input id="gh-admin-username" type="text" placeholder="New administrator username"/>
                            </div>
                            <div class="col-sm-3">
                                <input id="gh-admin-password" type="password" placeholder="New administrator password"/>
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-success">Create administrator</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </script>

        <script id="gh-app-user-template" type="text/template">
            <% if (app.config.allowLocalAccountCreation) { %>
                <div class="panel-subheading row">
                    <div class="gh-striped-heading col-sm-3">User name</div>
                    <div class="gh-striped-heading col-sm-2">User username</div>
                    <div class="gh-striped-heading col-sm-2">User password</div>
                    <div class="gh-striped-heading col-sm-1">Admin</div>
                    <div class="gh-striped-heading col-sm-2">Info</div>
                    <div class="gh-striped-heading col-sm-2">Actions</div>
                </div>
            <% } %>

            <% if (users.length === 0) { %>
                <div class="gh-striped-row row">
                    <div class="col-sm-3">
                        <p>This app has no users<p>
                    </div>
                </div>
            <% } %>

            <% _.each(users, function(user) { %>
                <div class="gh-striped-row row">
                    <form class="gh-app-user-update-form" data-userid="<%- user.id %>">
                        <div class="col-sm-3">
                            <input class="gh-user-displayname" type="text" placeholder="User name" value="<%- user.displayName %>">
                        </div>
                        <div class="col-sm-2">
                            <input class="gh-user-email" type="text" placeholder="User email" value="<%- user.email %>">
                        </div>
                        <div class="col-sm-2">
                            <input class="gh-user-password" type="password" placeholder="User password" disabled>
                        </div>
                        <div class="col-sm-1">
                            <input class="gh-user-isadmin" type="checkbox"<% if (user.isAdmin) { %> checked<% } %>/>
                        </div>
                        <div class="col-sm-2">
                            <% if (user.shibbolethId) { %>
                                <input class="gh-user-shibbolethid" type="text" placeholder="Shibboleth ID" disabled value="<%- user.shibbolethId %>">
                            <% } else { %>
                                <p class="text-center">Local account</p>
                            <% } %>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Update user</button>
                        </div>
                    </form>
                </div>
            <% }); %>
            <% if (app.config.allowLocalAccountCreation) { %>
                <div class="gh-striped-row row">
                    <form class="gh-app-user-create-form" data-appid="<%- app.id %>">
                        <div class="col-sm-3">
                            <input class="gh-new-user-displayname" type="text" placeholder="New user name">
                        </div>
                        <div class="col-sm-2">
                            <input class="gh-new-user-email" type="text" placeholder="New user email">
                        </div>
                        <div class="col-sm-2">
                            <input class="gh-new-user-password" type="password" placeholder="New user password">
                        </div>
                        <div class="col-sm-1">
                            <input class="gh-new-user-isadmin" type="checkbox"/>
                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success">Create user</button>
                        </div>
                    </form>
                </div>
            <% } %>
        </script>

        <script id="gh-app-users-template" type="text/template">
            <h2>App users</h2>

            <% _.each(tenants, function(tenant) { %>
                <% _.each(tenant.apps, function(app) { %>
                    <% var randomId = gh.utils.generateRandomString(true); %>
                    <div class="panel-group" id="<%- randomId %>-accordion" role="tablist" aria-multiselectable="true" data-appid="<%- app.id %>">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="<%- randomId %>-heading">
                                <form id="gh-users-search-form" class="gh-striped-container-search form-inline pull-right">
                                    <div class="form-group col-sm-9">
                                        <input type="text" class="form-control" id="gh-administration-search" placeholder="Search users">
                                    </div>
                                    <button type="submit" class="btn btn-default col-sm-3">Search</button>
                                </form>
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#<%- randomId %>-accordion" href="#<%= randomId %>" aria-expanded="false" aria-controls="<%= randomId %>">
                                        <%- tenant.displayName %> - <%- app.displayName %> - <%- app.host %>
                                    </a>
                                </h4>
                            </div>
                            <div id="<%= randomId %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%- randomId %>-heading">
                                <div class="panel-body">
                                    <div class="gh-users-container">
                                        <div class="panel-subheading row">
                                            <div class="gh-striped-heading col-sm-3">User name</div>
                                            <div class="gh-striped-heading col-sm-2">User username</div>
                                            <div class="gh-striped-heading col-sm-2">User password</div>
                                            <div class="gh-striped-heading col-sm-1">Admin</div>
                                            <div class="gh-striped-heading col-sm-2">Info</div>
                                            <div class="gh-striped-heading col-sm-2">Actions</div>
                                        </div>

                                        <% if (app.config.allowLocalAccountCreation) { %>
                                            <div class="gh-striped-row row">
                                                <form class="gh-app-user-create-form" data-appid="<%- app.id %>">
                                                    <div class="col-sm-3">
                                                        <input class="gh-new-user-displayname" type="text" placeholder="New user name">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input class="gh-new-user-email" type="text" placeholder="New user email">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input class="gh-new-user-password" type="password" placeholder="New user password">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="gh-new-user-isadmin" type="checkbox"/>
                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                    <div class="col-sm-2">
                                                        <button type="submit" class="btn btn-success">Create user</button>
                                                    </div>
                                                </form>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% }); %>
        </script>

        <script id="gh-navigation-template" type="text/template">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" <% if (currentPage === 'configuration') { %>class="active"<% } %> >
                    <a href="/configuration">Configuration</a>
                </li>
                <li role="presentation" <% if (currentPage === 'tenants') { %>class="active"<% } %> >
                    <a href="/tenants">Tenants and Apps</a>
                </li>
                <li role="presentation" <% if (currentPage === 'users') { %>class="active"<% } %> >
                    <a href="/users">Users</a>
                </li>
            </ul>
        </script>

        <script id="gh-header-template" type="text/template">
            <% if (!data.gh.data.me || data.gh.data.me.anon) { %>
                <form class="form-inline pull-right gh-signin-form" role="form"  data-toggle="validator">
                    <%= _.partial('login-form', {'data': data}) %>
                </form>
            <% } else { %>
                <form id="gh-signout-form" class="form-inline pull-right" role="form" action="/api/auth/logout" method="POST">
                    <button type="submit" class="btn btn-default gh-btn-secondary">
                        <i class="fa fa-sign-out"></i>Sign out
                    </button>
                </form>
            <% } %>
            <h1>Administration</h1>
        </script>

        <script data-main="/shared/gh/js/gh.bootstrap.js" data-loadmodule="/apps/admin/ui/js/index.js" src="/shared/vendor/js/require-jquery.js"></script>
    </body>
</html>
