<html>
    <head>
        <title>My Timetable</title>

        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#FFC40D">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#FFFFFF">

        <!-- .cam.ac.uk domain Typekit inclusion -->
        <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link rel="stylesheet" href="/shared/vendor/css/font-awesome.css">
        <link rel="stylesheet" href="/shared/vendor/css/bootstrap.css">
        <link rel="stylesheet" href="/shared/vendor/css/chosen.css">
        <link rel="stylesheet" href="/shared/vendor/css/fullcalendar.css">
        <link rel="stylesheet" href="/shared/gh/css/gh.base.css">
        <link rel="stylesheet" href="/shared/gh/css/gh.components.css">
        <link rel="stylesheet" href="/shared/gh/css/gh.skin.css">
        <link rel='stylesheet' href="/shared/gh/css/gh.print.css" media="print">
    </head>
    <body>
        <div id="gh-page-container">
            <div id="gh-left-container">
                <div id="gh-meta-container">
                    <a href="http://cam.ac.uk" id="gh-header-logo" target="_blank" title="Visit the Cambridge University website">
                        <img src="/shared/gh/img/unilogo.png" alt="Cambridge University">
                    </a>
                    <div id="gh-content-description">
                        <p style="display: none;">Choose a tripos &amp; part<br/> to see available modules</p>
                    </div>
                </div>
                <div id="gh-modules-container"><!-- --></div>
            </div>
            <div id="gh-right-container">
                <div id="gh-header-container">
                    <div id="gh-header"><!-- --></div>
                    <div id="gh-subheader"><!-- --></div>
                </div>
                <div id="gh-empty" style="display: none;"><!-- --></div>
                <main id="gh-main"><!-- --></main>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Modal template -->
        <div id="gh-modal"><!-- --></div>
        <script id="gh-modal-template" type="text/template">
            <%= _.partial('login-modal', {
                'gh': gh,
                'isGlobalAdminUI': false
            }) %>
        </script>

        <!-- Subheader pickers template -->
        <script id="gh-subheader-pickers-template" type="text/template">
            <%= _.partial('subheader-pickers') %>
        </script>

        <!-- Subheader picker template -->
        <script id="gh-subheader-picker-template" type="text/template">
            <%= _.partial('subheader-picker', {'data': data}) %>
        </script>

        <!-- Subheader part template-->
        <script id="gh-subheader-part-template" type="text/template">
            <%= _.partial('subheader-part', {'data': data}) %>
        </script>

        <!-- Header template -->
        <script id="gh-header-template" type="text/template">
            <% if (!gh.data.me || gh.data.me.anon) { %>
                <form id="gh-signin-form" class="form-inline pull-right" role="form">
                    <%= _.partial('login-form', {
                        'gh': gh,
                        'isGlobalAdminUI': false
                    }) %>
                </form>
            <% } else { %>
                <form id="gh-signout-form" class="form-inline pull-right" role="form" action="/api/auth/logout" method="POST">
                    <button type="submit" class="btn btn-default gh-btn-secondary">
                        <i class="fa fa-sign-out"></i>Sign out
                    </button>
                </form>
            <% } %>
            <h1><%- gh.data.me.app.displayName %></h1>
        </script>

        <!-- Modules template -->
        <script id="gh-modules-template" type="text/template">
            <%= _.partial('student-modules', {'data': data}) %>
        </script>

        <!-- Calendar template -->
        <script id="gh-calendar-template" type="text/template">
            <%= _.partial('calendar', {'data': data}) %>
        </script>

        <!-- Event template -->
        <script id="gh-event-template" type="text/template">
            <%= _.partial('event', {'data': data}) %>
        </script>

        <!-- Empty part template -->
        <script id="gh-empty-template" type="text/template">
            <%= _.partial('empty-timetable', {'data': data}) %>
        </script>

        <script data-main="/shared/gh/js/gh.bootstrap.js" data-loadmodule="/apps/timetable/ui/js/index.js" src="/shared/vendor/js/require-jquery.js"></script>
    </body>
</html>
