/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

#gh-export-container #gh-export-main {
    background-color: #FFF;
    padding: 30px 30px 0;
    margin: 30px 30px 0 0;
}

#gh-export-container #gh-export-main #gh-export-subscribe {
    background-color: #07525D;
    display: block;
    padding: 15px;
    width: 100%;
}

#gh-export-container #gh-export-main #gh-export-subscribe:hover {
    background-color: #127077;
}

#gh-export-container #gh-export-main #gh-export-collapsed-other-toggle {
    margin: 20px 0 12px 0;
    padding: 8px 0;
}

#gh-export-container #gh-export-main .gh-export-other-option {
    font-weight: 400;
}

#gh-export-container #gh-export-main textarea {
    height: 70px;
    margin-bottom: 25px;
    resize: none;
    width: 100%;
}

#gh-export-container #gh-export-main ul {
    list-style-type: circle;
    padding: 0 0 25px 25px;
}

#gh-export-container #gh-export-main ul li {
    margin: 7px 0;
}

#gh-export-container > small{
    display: block;
    margin: 20px 20px 20px 30px;
}
