<div class="modal fade" id="gh-terms-and-conditions-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Terms and Conditions</h4>
            </div>
            <div class="modal-body">
                <%= data.termsAndConditionsText %>
            </div>
            <div class="modal-footer">
                <button type="button" id="gh-close-terms-and-conditions" class="btn btn-link pull-left">Close and sign out</button>
                <button type="button" id="gh-accept-terms-and-conditions" class="btn btn-default pull-right">Accept</button>
            </div>
        </div>
    </div>
</div>
