<div id="gh-batch-edit-view" class="gh-main-view">

    <div id="gh-toolbar-container">
        <div class="gh-toolbar gh-toolbar-primary">
            <div id="gh-calendar-toolbar-views" class="gh-toolbar-views pull-left">
                <button class="btn btn-default gh-btn-secondary gh-btn-reverse active">List</button>
                <button class="btn btn-default gh-btn-secondary gh-btn-reverse default">Calendar</button>
            </div>
        </div>
    </div>

    <!-- Calendar -->
    <div id="gh-batch-edit-container">
        <h1><%= data.series.displayName %></h1>

        <div id="gh-batch-edit-header" class="row">
            <div class="col-xs-4">
                <input type="text" id="gh-batch-edit-title" placeholder="Event titles">
            </div>
            <div class="col-xs-2">
                <button type="button" id="gh-batch-edit-time" class="btn btn-default pull-right">Time/dates</button>
            </div>
            <div class="col-xs-2">
                <input type="text" id="gh-batch-edit-lecturer" placeholder="Lecturers">
            </div>
            <div class="col-xs-2">
                <input type="text" id="gh-batch-edit-location" placeholder="Locations">
            </div>
            <div class="col-xs-2">
                <select id="gh-batch-edit-type">
                    <option value="seminar">Seminar</option>
                    <option value="lecture">Lecture</option>
                    <option value="fieldtrip">Field trip</option>
                </select>
            </div>
        </div>

        <div class="gh-batch-edit-events-container">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="gh-select-all"> Michaelmas
                                </label>
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <button type="button" class="btn btn-default gh-btn-secondary gh-new-event"><i class="fa fa-plus-square"></i> Add event</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <% _.each(data.events.results, function(ev) {%>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="gh-select-single"> <span class="sr-only">Select</span>
                                </label>
                            </div>
                        </td>
                        <td><%- ev.displayName %></td>
                        <td><%- ev.start %> - <%- ev.end %></td>
                        <!-- <td><%- ev.organisers.toString() %></td> -->
                        <!-- <td><%- ev.location %></td> -->
                        <!-- <td><%- ev.notes %></td> -->
                        <td>Dr. Haruko Laurie</td>
                        <td>Research Room 23</td>
                        <td>Seminar</td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

        <div class="gh-batch-edit-actions-container">
            <button type="button" class="btn btn-default pull-right">Save</button>
            <button type="button" class="btn btn-link pull-right" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
