<form role="form" class="gh-configuration-form" data-appid="<%= data.app.id %>">
    <% _.each(data.config, function(value, option) { %>
        <% if (option === 'AppId' || option.indexOf('terms') === 0 || option === 'events' || option === 'termsAndConditionsLastUpdate') { return; }%>
        <% if (typeof value === 'boolean') { %>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="<%= option %>" value="<%= value %>" <% if (value === true) { %> checked<% } %>> <%= option %>
                </label>
            </div>
        <% } else { %>
            <div class="form-group">
                <label for="<%- option %>"><%- option %></label>
                <% if (option === 'termsAndConditionsText') { %>
                    <textarea id="<%- option %>" class="form-control" rows="8" name="<%- option %>" ><%= value %></textarea>
                <% } else { %>
                    <input type="text" class="form-control" id="<%- option %>" value="<%- value %>" name="<%- option %>">
                <% } %>
            </div>
        <% } %>
    <% }); %>
    <button type="submit" class="btn btn-primary">Update configuration</button>
</form>
