<h1>Timetable Administration</h1>
<% if (!data.gh.data.me || data.gh.data.me.anon) { %>
    <% if (!data.gh.config.enableLocalAuth) { %>
        <form class="form-inline pull-right gh-signin-form" role="form" data-toggle="validator">
            <%= _.partial('login-form', {'data': data}) %>
        </form>
    <% } %>
<% } else { %>
    <form id="gh-signout-form" class="form-inline pull-right" role="form" action="/api/auth/logout" method="POST">
        <button type="submit" class="btn btn-default gh-btn-secondary">
            <i class="fa fa-sign-out"></i>Sign out
        </button>
    </form>
<% } %>
