<div id="gh-calendar-view" class="gh-main-view">

    <div id="gh-toolbar-container">
        <div class="gh-toolbar gh-toolbar-primary">
            <div id="gh-calendar-toolbar-views" class="gh-toolbar-views pull-left">
                <button class="btn btn-default gh-btn-secondary gh-btn-reverse active" data-view="agendaWeek">Week</button>
                <button class="btn btn-default gh-btn-secondary gh-btn-reverse default" data-view="month">Month</button>
                <button class="btn btn-default gh-btn-secondary gh-btn-reverse default" data-view="agendaDay">List</button>
            </div>
            <div id="gh-calendar-toolbar-actions" class="gh-toolbar-actions pull-right">
                <button id="gh-btn-calendar-print" class="btn btn-default gh-btn-secondary gh-btn-reverse default"><i class="fa fa-print"></i><span> Print</span></button>
                <button id="gh-btn-calendar-export" class="btn btn-default"><i class="fa fa-calendar"></i><span> Export to calendar</span></button>
            </div>
        </div>
        <div class="gh-toolbar gh-toolbar-secondary">

            <!-- Navigate through the weeks/months/days -->
            <div id="gh-calendar-toolbar-period" class="gh-toolbar-period pull-left">
                <div class="gh-toolbar-inner">
                    <button class="btn btn-default gh-btn-tertiary" data-action="prev"><i class="fa fa-chevron-left"></i></button>
                    <span id="gh-toolbar-label-period" class="gh-toolbar-label"><!-- --></span>
                    <button class="btn btn-default gh-btn-tertiary" data-action="next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>

            <!-- Navigate to the current day -->
            <div id="gh-calendar-toolbar-today" class="text-center">
                <button id="gh-btn-calendar-today" class="btn btn-default">Today</button>
            </div>

            <!-- Navigate through the terms -->
            <div id="gh-calendar-toolbar-terms" class="gh-toolbar-term pull-right">
                <div class="gh-toolbar-inner">
                    <button class="btn btn-default gh-btn-tertiary" data-action="prev"><i class="fa fa-chevron-left"></i></button>
                    <span id="gh-toolbar-label-term" class="gh-toolbar-label"><!-- --></span>
                    <button class="btn btn-default gh-btn-tertiary" data-action="next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendar -->
    <div id="gh-calendar-container"><!-- --></div>

    <div id="gh-export-container" style="display: none;"></div>
</div>
