<div class="popover fade" role="tooltip" data-id="<%= data.id %>">
    <h3 class="gh-popover-title"><%= data.title %></h3>
    <p class="gh-popover-time"><%= moment.utc(data.start).format('dddd h:mma') %></p>
    <p class="gh-popover-location"><%= data.location %></p>
    <p class="gh-popover-organiser">
        <% _.each(data.organisers, function(org) { %>
            <%= org.organiser.user.displayName %>
        <% }); %>
    </p>
    <small class="gh-popover-belongs">Belongs to Archeology and Anthropology Tripos; Social Anthropology Part IIB</small>
</div>
