<div class="popover fade" role="tooltip" data-id="<%= data.id %>">
    <h3 class="gh-popover-title"><%= data.displayName %></h3>
    <p class="gh-popover-time"><%= moment.utc(data.start).format('dddd h:mma') %></p>
    <p class="gh-popover-location"><%= data.location %></p>
    <p class="gh-popover-organiser">
        <%= _.chain(data.organisers).map(function(organiser) { return organiser.displayName; }).value().join(', ') %>
    </p>
    <small class="gh-popover-belongs">Belongs to</small>
</div>
