<h1>Tenants and Apps</h1>

<h2>Create a new tenant</h2>
<form id="gh-tenants-create-tenant-form">
    <div class="form-group">
        <label for="gh-tenant-name" class="control-label">Tenant display name</label>
        <input type="text" id="gh-tenant-name" class="form-control" placeholder="New tenant name"/>
    </div>
    <button type="submit" class="btn btn-default">Create tenant</button>
</form>

<h2>Tenants in the system</h2>
<% _.each(tenants, function(tenant) { %>
    <div class="panel-default gh-striped-container">
        <h3 class="panel-heading"><%- tenant.displayName %></h3>
        <div class="panel-body">
            <div class="panel-subheading row">
                <div class="gh-striped-heading col-sm-3">App name</div>
                <div class="gh-striped-heading col-sm-3">App host</div>
                <div class="gh-striped-heading col-sm-2">App enabled</div>
                <div class="gh-striped-heading col-sm-4">Actions</div>
            </div>
            <% _.each(tenant.apps, function(app) { %>
                <div class="gh-striped-row row">
                    <form class="gh-tenants-app-update-form" data-appid="<%- app.id %>">
                        <div class="col-sm-3">
                            <input class="gh-app-displayname" type="text" placeholder="App name" value="<%- app.displayName %>"/>
                        </div>
                        <div class="col-sm-3">
                            <input class="gh-app-host" type="text" placeholder="App host" value="<%- app.host %>"/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gh-app-enabled" type="checkbox"<% if (app.enabled) { %> checked<% } %>/>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary pull-left">Update app</button>
                        </div>
                        <div class="col-sm-2">
                            <a href="//<%- app.host %>" target="_blank" class="btn btn-info pull-left"><i class="fa fa-external-link"></i> Open app</a>
                        </div>
                    </form>
                </div>
            <% }); %>
            <div class="gh-striped-row row">
                <form class="gh-tenants-app-create-form" data-tenantid="<%- tenant.id %>">
                    <div class="col-sm-3">
                        <input class="gh-app-displayname" type="text" placeholder="New app name"/>
                    </div>
                    <div class="col-sm-3">
                        <input class="gh-app-host" type="text" placeholder="New app host"/>
                    </div>
                    <div class="col-sm-2">
                        <input class="gh-app-enabled" type="checkbox" checked disabled/>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success pull-left">Create app</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% }); %>
