<h2>Global administrators</h2>
<div class="panel-default gh-striped-container">
    <h3 class="panel-heading">
        <span>Global administrators</span>
    </h3>
    <div class="panel-body">
        <div class="panel-subheading row">
            <div class="gh-striped-heading col-sm-3">Admin name</div>
            <div class="gh-striped-heading col-sm-2">Admin username</div>
            <div class="gh-striped-heading col-sm-3">Admin password</div>
            <div class="gh-striped-heading col-sm-4">Actions</div>
        </div>
        <% _.each(administrators, function(admin) { %>
            <div class="gh-striped-row row">
                <form class="gh-administrators-update-form" data-userid="<%- admin.id %>">
                    <div class="col-sm-3">
                        <input id="gh-admin-displayname" type="text" placeholder="Administrator name" value="<%- admin.displayName %>"/>
                    </div>
                    <div class="col-sm-2">
                        <input id="gh-admin-username" type="text" placeholder="Administrator username" value="<%- admin.username %>" disabled/>
                    </div>
                    <div class="col-sm-3">
                        <input id="gh-admin-password" type="password" placeholder="Administrator password"/>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger gh-administrators-delete" data-userid="<%- admin.id %>" <% if (administrators.length === 1) { %>disabled<% } %>>Delete</button>
                    </div>
                </form>
            </div>
        <% }); %>
        <div class="gh-striped-row row">
            <form id="gh-administrators-create-form">
                <div class="col-sm-3">
                    <input id="gh-admin-displayname" type="text" placeholder="New administrator name"/>
                </div>
                <div class="col-sm-2">
                    <input id="gh-admin-username" type="text" placeholder="New administrator username"/>
                </div>
                <div class="col-sm-3">
                    <input id="gh-admin-password" type="password" placeholder="New administrator password"/>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Create administrator</button>
                </div>
            </form>
        </div>
    </div>
</div>
