<% if (!data.gh.data.me || data.gh.data.me.anon) { %>
    <% if (data.includeLoginForm) { %>
        <div class="pull-right">
            <div id="gh-login-form-container">
                <% _.partial('login-form', {'data': data}, true, '#gh-login-form-container') %>
            </div>
        </div>
    <% } %>
<% } else { %>
    <form id="gh-signout-form" class="form-inline pull-right" role="form" action="/api/auth/logout" method="POST">
        <button type="submit" class="btn btn-default gh-btn-secondary">
            <i class="fa fa-sign-out"></i>Sign out
        </button>
    </form>
<% } %>
<h1><%- data.gh.data.me.app.displayName %></h1>
