<% isChild = (typeof isChild === 'undefined') ? false : isChild; %>

<% _.each(data, function(d) { %>

    <% var subscribedAll = true; %>
    <% if (!isChild && d.events) { %>
        <% _.each(d.events, function(ev) { %>
            <% if (!ev.subscribed) { %>
                <% subscribedAll = false; %>
            <% } %>
        <% }); %>
    <% } %>
    <li class="list-group-item <% if (d.subscribed || (!isChild && subscribedAll)) { %> gh-list-group-item-added <% } %>" data-id="<%= d.id %>">
        <div class="gh-list-group-item-container">
            <% if (!isChild) { %>
                <button class="btn btn-link gh-toggle-list">
                    <div class="gh-list-icon">
                        <i class="fa fa-caret-right"></i>
                    </div>
            <% } %>
                    <div class="gh-list-description">
                        <% if (isChild) { %>
                            <p><strong><%= d.displayName %></strong></p>
                            <p><%= d.notes %></p>
                            <p><%= d.location %></p>
                            <p><%= d.organisers[0].organiser.user.displayName %></p>
                        <% } else { %>
                            <p><%= d.displayName %></p>
                        <% } %>
                    </div>
            <% if (!isChild) { %>
                </button>
            <% } %>
            <div class="gh-list-action">
                <% if (d.subscribed || (!isChild && subscribedAll)) { %>
                    <button class="btn btn-link <% if (isChild) { %> gh-remove-from-calendar <% } else { %> gh-remove-all-from-calendar <% } %>">
                        <i class="fa fa-remove"></i>
                    </button>
                <% } else { %>
                    <button class="btn btn-link <% if (isChild) { %> gh-add-to-calendar <% } else { %> gh-add-all-to-calendar <% } %>">
                        <i class="fa fa-plus"></i>
                    </button>
                <% } %>
            </div>
        </div>
        <% if (d.events) { %>
            <ul class="list-group hide">
                <%= _.partial('list-group-item', {
                    'data': d.events,
                    'isChild': true
                }) %>
            </ul>
        <% } %>
    </li>
<% }); %>
