<%
    var localAuthEnabled = data.gh.config.enableLocalAuth;
    var externalAuthEnabled = data.gh.config.enableShibbolethAuth;
%>
<% if (data.isGlobalAdminUI || localAuthEnabled || externalAuthEnabled ) { %>
    <% if (externalAuthEnabled) { %>
        <form class="form-inline gh-signin-form" role="form" action="/api/auth/shibboleth" method="POST">
            <input type="hidden" name="redirectUrl" value="<%- window.location.pathname + window.location.search %>">
            <button type="submit" id="gh-signin" class="btn btn-default gh-btn-secondary">
                <i class="fa fa-sign-in"></i>Sign in with Raven
            </button>
        </form>
    <% } else if (data.isGlobalAdminUI || (!data.isGlobalAdminUI && localAuthEnabled)) { %>
        <form class="form-inline gh-signin-form" role="form" data-toggle="validator">
            <div class="form-group">
                <label class="sr-only" for="gh-signin-email">Email address</label>
                <input type="username" name="username" class="form-control" id="gh-signin-email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="gh-signin-password">Password</label>
                <input type="password" name="password" class="form-control" id="gh-signin-password" placeholder="Password" required>
            </div>
            <button type="submit" id="gh-signin" class="btn btn-default gh-btn-secondary">
                <i class="fa fa-sign-in"></i>Sign in
            </button>
        </form>
    <% } %>
<% } %>
