<form id="gh-new-series-form" class="form form-inline" role="form">
    <div class="form-group col-xs-12">
        <label for="gh-series-name">Series title</label>
        <input type="text" name="series-name" class="form-control" id="gh-series-name" placeholder="Enter a title for the new event series" required>
        <button type="submit" id="gh-create-series-submit" class="btn btn-default" data-groupid="<%- data.groupId %>" data-parentid="<%- data.parentId %>" data-partid="<%- data.partId %>" disabled>Create</button>
        <button type="button" id="gh-create-series-cancel" class="btn btn-link">Cancel</button>
    </div>
</form>
