<div class="popover fade gh-series-popover published" role="tooltip" data-id="<%- data.id %>">

    <!-- Part -->
    <% if (data.borrowedFrom.Parent) { %>
        This series belongs to <strong><%- data.borrowedFrom.Parent.displayName %></strong>

        <!-- Tripos -->
        <% if (data.borrowedFrom.Parent.Parent) { %>
            in <strong><%- data.borrowedFrom.Parent.Parent.displayName %></strong>

            <!-- Course -->
            <% if (data.borrowedFrom.Parent.Parent.Parent) { %>
                in <strong><%- data.borrowedFrom.Parent.Parent.Parent.displayName %></strong>
            <% } %>
        <% } %>

        which is not published yet.
    <% } %>
</div>
