<div id="gh-result-summary">
    <button class="btn btn-default gh-btn-secondary gh-btn-reverse pull-right gh-collapse-modules" title="Toggle the modules list">
        <i class="fa fa-angle-double-left"></i>
        <i class="fa fa-angle-double-right"></i>
    </button>
    <p><%- data.modules.length %> module<% if (data.modules.length === 0 || data.modules.length > 1) { %>s<% } %> in this part</p>
</div>
<div id="gh-modules-list-container">
    <ul id="gh-modules-list" class="list-group">
        <%= _.partial('student-module-item', {'data': data.modules}) %>
    </ul>
</div>
