/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***************/
/* BASE STYLES */
/***************/

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    font-family: 'Myriad Pro', helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    min-height: 800px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

h2 {
    font-size: 17px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

select.form-control {
    height: 45px;
    padding: 0 0 0 2px;
}

label {
    font-weight: 600;
}

input,
textarea {
    border-style: solid;
    border-width: 1px;
}

input[disabled],
select[disabled],
.as-selections.gh-disabled {
    border-style: solid;
    border-width: 1px;
}

.gh-disabled {
    cursor: not-allowed;
}

/* When the page loads and it's laying itself out, animations shouldn't occur.
   The class gets removed after the page has been set up */
.gh-preload * {
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
            transition: none !important;
}


/**************/
/* VALIDATION */
/**************/

.has-error label {
    font-weight: 600;
}

.has-error input.form-control {
    border-style: solid !important;
    border-width: 1px !important;
}

.has-error .form-control::-moz-placeholder {
    font-weight: 400;
}

.has-error .form-control:-ms-input-placeholder {
    font-weight: 400;
}

.has-error .form-control::-webkit-input-placeholder {
    font-weight: 400;
}


/**********/
/* LAYOUT */
/**********/

#gh-main {
    overflow: hidden;
    padding-bottom: 30px;
}

.gh-academic-year-select {
    display: table-cell;
    font-size: 18px;
    font-weight: 100;
    height: 100px;
    line-height: 40px;
    padding-left: 45px !important;
    vertical-align: middle;
}

/* Main page container */

footer,
#gh-page-container {
    min-width: 1280px;
}

/* Main page left hand side (navigation) container */

#gh-page-container #gh-left-container {
    float: left;
    padding: 0;
    position: relative;
    -webkit-transition: width .3s;
       -moz-transition: width .3s;
         -o-transition: width .3s;
            transition: width .3s;
    width: 320px;
    z-index: 3;
}

#gh-page-container #gh-left-container.gh-minimised {
    height: 215px;
    overflow: hidden;
}

footer #gh-header-logo,
#gh-page-container #gh-left-container #gh-header-logo {
    height: 115px;
}

footer #gh-header-logo img,
#gh-page-container #gh-left-container #gh-header-logo img {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    width: 196px;
    padding: 39px 46px 36px 40px;
    -webkit-transition: padding .3s;
       -moz-transition: padding .3s;
         -o-transition: padding .3s;
            transition: padding .3s;
}

footer #gh-header-logo img {
    padding: 30px 30px 30px 41px;
}

footer #footer-help-logo {
    width: 320px;
}

footer#footer-copyright p {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 20px 0 20px 336px;
}

footer h3 {
    font-weight: 600;
    margin: 30px 0 20px;
}

footer ul {
    font-weight: 200;
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;
}

footer ul li {
    margin: 3px 0;
}

#gh-page-container #gh-left-container #gh-content-description p {
    margin: 0;
    padding: 32px 39px 30px;
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}

#gh-page-container #gh-left-container #gh-meta-container {
    position: absolute;
    z-index: 3;
}

#gh-page-container #gh-left-container #gh-navigation-container,
#gh-page-container #gh-left-container #gh-modules-container {
    min-height: calc(100% - 217px);
    padding-top: 215px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 44px;
    overflow: hidden;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary button:not(.gh-collapse-modules),
#gh-page-container #gh-page-container #gh-left-container #gh-modules-list-container ul {
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary p {
    margin: 0;
    padding: 13px 40px;
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
    width: 300px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary .gh-collapse-modules {
    position: relative;
    width: 50px;
    z-index: 1;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary .gh-collapse-modules i {
    font-size: 26px;
    font-weight: 500;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list-container {
    opacity: 1;
    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list {
    width: 320px;
}

/* Main page right hand side (content) container */
#gh-page-container #gh-header {
    height: 115px;
}

#gh-page-container #gh-right-container #gh-header-container {
    position: relative;
    right: 0;
    z-index: 3;
}

@media (max-width: 767px) {

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    height: 100px;
}

#gh-page-container #gh-right-container #gh-subheader {
    position: relative;
    z-index: 10;
}

#gh-page-container #gh-left-container #gh-content-description {
    width: 320px;
}

#gh-page-container #gh-right-container {
    -webkit-background-clip: content-box;
       -moz-background-clip: content-box;
            background-clip: content-box;
    min-height: calc(100% - 217px);
    min-width: 992px;
    padding-left: 320px;
    -webkit-transition: padding-left .3s;
       -moz-transition: padding-left .3s;
         -o-transition: padding-left .3s;
            transition: padding-left .3s;
    width: 100%;
}


/********************/
/* COLLAPSE MODULES */
/********************/

.fa-angle-double-right,
.gh-collapsed .fa-angle-double-left {
    display: none;
}

.fa-angle-double-left,
.gh-collapsed .fa-angle-double-right {
    display: block;
}

/* Main containers */

.gh-collapsed-finished #gh-page-container #gh-right-container #gh-header-container {
    left: 50px;
    position: fixed;
}

.gh-collapsed-finished main {
    margin-top: 215px;
}

.gh-collapsed-finished #gh-empty {
    margin-left: 0;
    margin-top: 250px;
}

/* Content containers */

.gh-collapsed #gh-page-container #gh-left-container {
    height: 100%;
    position: fixed;
    width: 50px !important;
}

.gh-collapsed #gh-page-container #gh-right-container {
    padding-left: 50px;
    position: absolute;
}

.gh-collapsed #gh-page-container #gh-right-container #gh-toolbar-container {
    width: 100%;
}

.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-modules-list-container {
    opacity: 0;
}

/* Footer */

.gh-collapsed footer {
    bottom: 58px;
    position: fixed;
    width: 100%;
}

.gh-collapsed footer + footer {
    bottom: 0;
}

/* Content */

.gh-collapsed #gh-page-container #gh-left-container #gh-header-logo img {
    padding: 39px 46px 36px 8px;
}

.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary {
    border-bottom: none !important;
}

.gh-collapsed #gh-left-container #gh-meta-container #gh-content-description p,
.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary button:not(.gh-collapse-modules),
.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary p {
    opacity: 0;
}


/***********/
/* BUTTONS */
/***********/

.btn {
    font-size: 15px;
    font-weight: 200;
    padding: 10px 20px 8px 18px;
}

.btn-default {
    font-weight: 700;
}

.btn-default.gh-btn-secondary {
    font-weight: 400;
}


/**********/
/* MODALS */
/**********/

.modal-backdrop.in {
    filter: alpha(opacity=75);
    opacity: .75;
}

.modal {
    z-index: 10000;
}

.modal-header {
    padding: 25px;
    position: relative;
}

.modal-header button[data-dismiss="modal"] {
    font-size: 32px;
    font-weight: bold;
    padding: 0 5px;
}

.modal-body {
    padding: 40px 25px 25px;
}

.modal-footer {
    border-top: 0;
    padding: 0 25px 15px 15px;
}

.modal-header .close {
    font-weight: 200;
    opacity: 0.5;
    position: absolute;
    right: 20px;
    text-shadow: none;
    top: 50%;
    transform: translateY(-50%);
}

.modal-header .close:hover {
    font-weight: 200;
    opacity: 1;
}

.modal-title {
    font-size: 22px;
    font-weight: 200;
}

.modal-content {
    border-radius: 0;
}

.modal-content form label {
    font-weight: 200;
}


/*****************/
/* NOTIFICATIONS */
/*****************/

/* @see http://getbootstrap.com/components/#alerts
 * @see http://nijikokun.github.io/bootstrap-notify */

.alert {
    padding: 8px 35px 8px 14px;
}

.alert h4 {
    margin-bottom: 0;
}

.notifications > .alert {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border-top: none;
    padding: 18px 20px 15px 20px;
}

.notifications.bottom-left {
    bottom: 28px;
    left: 40px;
    position: fixed;
    width: 30%;
    z-index: 99999999;
}

.notifications.bottom-left > .alert {
    bottom: 0;
    left: -600px;
    margin: 0 auto 12px;
    max-width: 600px;
    opacity: 0;
    position: relative;
    text-align: left;
    -webkit-transition: left .3s, opacity .3s, bottom .3s;
       -moz-transition: left .3s, opacity .3s, bottom .3s;
         -o-transition: left .3s, opacity .3s, bottom .3s;
            transition: left .3s, opacity .3s, bottom .3s;
    width: 100%;
    word-wrap: break-word;
}

.notifications.bottom-left > .alert .close {
    opacity: 0.5;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.notifications.bottom-left > .alert p {
    margin: 12px 0 0;
    width: 93%;
}

.notifications.bottom-left .alert.gh-notification-in {
    left: 10px !important;
    opacity: 1 !important;
}

.notifications.bottom-left .alert.gh-notification-fade {
    bottom: -200px !important;
    opacity: 0 !important;
}
