/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***************/
/* BASE STYLES */
/***************/

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    font-family: 'Myriad Pro', helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

h2 {
    font-size: 17px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

select.form-control {
    height: 45px;
}

label {
    font-weight: 600;
}

input,
textarea {
    border-style: solid;
    border-width: 1px;
}

input[disabled],
select[disabled],
.as-selections.gh-disabled {
    border-style: solid;
    border-width: 1px;
}

.gh-disabled {
    cursor: default;
}

.gh-disabled-overlay {
    cursor: not-allowed;
    display: block;
    height: 100%;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
}

/**************/
/* VALIDATION */
/**************/

.has-error label {
    font-weight: 600;
}

.has-error input.form-control {
    border-style: solid !important;
    border-width: 1px !important;
}

.has-error .form-control::-moz-placeholder {
    font-weight: 400;
}

.has-error .form-control:-ms-input-placeholder {
    font-weight: 400;
}

.has-error .form-control::-webkit-input-placeholder {
    font-weight: 400;
}


/**********/
/* LAYOUT */
/**********/

#gh-main {
    margin-bottom: 30px;
}

/* Main page container */
#gh-page-container {
    /*min-width: 1280px;*/
}

/* Main page left hand side (navigation) container */
#gh-page-container #gh-left-container {
    float: left;
    height: 100%;
    padding: 0;
    position: fixed;
    transition: width .3s;
    width: 320px;
    z-index: 3;
}

#gh-page-container #gh-left-container.gh-minimised {
    height: 215px;
    overflow: hidden;
}

#gh-page-container #gh-left-container #gh-header-logo img {
    -webkit-box-sizing: initial;
       -moz-box-sizing: initial;
            box-sizing: initial;
    width: 196px;
    padding: 39px 46px 36px 40px;
    transition: padding .3s;
}

#gh-page-container #gh-left-container #gh-content-description p {
    margin: 0;
    padding: 32px 39px 30px;
}

#gh-page-container #gh-left-container #gh-meta-container {
    position: absolute;
    z-index: 3;
}

#gh-page-container #gh-left-container #gh-navigation-container,
#gh-page-container #gh-left-container #gh-modules-container {
    height: calc(100% + 1px);
    padding-bottom: 45px;
    padding-top: 215px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 44px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary p {
    margin: 0;
    padding: 13px 40px;
    width: 300px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary .gh-collapse-modules {
    position: relative;
    width: 50px;
    z-index: 1;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary .gh-collapse-modules i {
    font-size: 26px;
    font-weight: 500;
}

.fa-angle-double-right,
.gh-collapsed .fa-angle-double-left {
    display: none;
}

.fa-angle-double-left,
.gh-collapsed .fa-angle-double-right {
    display: block;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list-container {
    opacity: 1;
    overflow: hidden;
    transition: opacity .3s;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list-container:hover {
    overflow-y: auto;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list {
    height: 100%;
    width: 320px;
}

/* Main page right hand side (content) container */
#gh-page-container #gh-header {
    height: 115px;
}

#gh-page-container #gh-right-container #gh-header-container {
    position: relative;
    right: 0;
    z-index: 3;
}

@media (max-width: 767px) {

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    height: 100px;
}

#gh-page-container #gh-right-container #gh-subheader {
    position: relative;
    z-index: 10;
}

#gh-page-container #gh-left-container #gh-content-description {
    width: 320px;
}

#gh-page-container #gh-right-container {
    padding-left: 320px;
    width: 100%;
    height: 100%;
    transition: padding-left .3s;
}

/* Collapse modules */

/* Main elements */

.gh-collapsed-finished #gh-page-container #gh-right-container #gh-header-container {
    left: 50px;
    position: fixed;
}

.gh-collapsed-finished main {
    margin-top: 215px;
}

.gh-collapsed-finished #gh-empty {
    margin-left: 0;
    margin-top: 250px;
}

/* Content containers */

.gh-collapsed #gh-page-container #gh-left-container {
    width: 50px !important;
}

.gh-collapsed #gh-page-container #gh-left-container #gh-meta-container #gh-content-description p,
.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary button:not(.gh-collapse-modules),
.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary p,
#gh-page-container #gh-page-container #gh-left-container #gh-modules-list-container ul {
    transition: opacity .3s;
}

.gh-collapsed #gh-page-container #gh-left-container #gh-header-logo img {
    padding: 39px 46px 36px 8px;
}

.gh-collapsed #gh-page-container #gh-right-container {
    padding-left: 50px;
    position: absolute;
}

.gh-collapsed #gh-page-container #gh-right-container #gh-toolbar-container {
    width: 100%;
}

.gh-collapsed div#gh-batch-edit-container {
    padding-top: 74px;
}

.gh-collapsed #gh-batch-edit-view {
    margin-top: 215px;
}

.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-modules-list-container {
    opacity: 0;
    height: 100%;
}

.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary {
    border-bottom: none !important;
}

.gh-collapsed #gh-left-container #gh-meta-container #gh-content-description p,
.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary button:not(.gh-collapse-modules),
.gh-collapsed #gh-page-container #gh-left-container #gh-modules-container #gh-result-summary p {
    opacity: 0;
}


/***********/
/* BUTTONS */
/***********/

.btn {
    font-size: 15px;
    font-weight: 200;
    padding: 10px 20px 8px 18px;
}

.btn-default {
    font-weight: 700;
}

.btn-default.gh-btn-secondary {
    font-weight: 400;
}


/**********/
/* MODALS */
/**********/

.modal-backdrop.in {
    filter: alpha(opacity=75);
    opacity: .75;
}

.modal {
    z-index: 10000;
}

.modal-header {
    padding: 25px;
    position: relative;
}

.modal-header button[data-dismiss="modal"] {
    font-size: 32px;
    font-weight: bold;
    padding: 0 5px;
}

.modal-body {
    padding: 40px 25px 25px;
}

.modal-footer {
    border-top: 0;
    padding: 0 25px 15px 15px;
}

.modal-header .close {
    font-weight: 200;
    opacity: 0.5;
    position: absolute;
    right: 20px;
    text-shadow: none;
    top: 50%;
    transform: translateY(-50%);
}

.modal-header .close:hover {
    color: #AAA;
    font-weight: 200;
    opacity: 1;
}

.modal-title {
    font-size: 22px;
    font-weight: 200;
}

.modal-content {
    border-radius: 0;
}

.modal-content form label {
    color: #8D8D8D;
    font-weight: 200;
}


/*****************/
/* NOTIFICATIONS */
/*****************/

/* @see http://getbootstrap.com/components/#alerts
 * @see http://nijikokun.github.io/bootstrap-notify */

.alert {
    padding: 8px 35px 8px 14px;
}

.alert h4 {
    margin-bottom: 0;
}

.notifications > .alert {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border-top: none;
    padding: 18px 20px 15px 20px;
}

.notifications.bottom-left {
    bottom: 28px;
    left: 40px;
    position: fixed;
    width: 30%;
    z-index: 99999999;
}

.notifications.bottom-left > .alert {
    bottom: 0;
    left: -600px;
    margin: 0 auto 12px;
    max-width: 600px;
    opacity: 0;
    position: relative;
    text-align: left;
    -webkit-transition: left .3s, opacity .3s, bottom .3s;
       -moz-transition: left .3s, opacity .3s, bottom .3s;
            transition: left .3s, opacity .3s, bottom .3s;
    width: 100%;
    word-wrap: break-word;
}

.notifications.bottom-left > .alert .close {
    opacity: 0.5;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.notifications.bottom-left > .alert p {
    margin: 12px 0 0;
    width: 93%;
}

.notifications.bottom-left .alert.gh-notification-in {
    left: 10px !important;
    opacity: 1 !important;
}

.notifications.bottom-left .alert.gh-notification-fade {
    bottom: -200px !important;
    opacity: 0 !important;
}
