/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic-ext,latin-ext,greek-ext');


/***************/
/* BASE STYLES */
/***************/

body {
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

h2 {
    font-size: 17px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

select.form-control {
    height: 45px;
}

/**********/
/* LAYOUT */
/**********/

#gh-main {
    margin-bottom: 30px;
}

/* Main page container */
#gh-page-container {
    min-width: 1280px;
}

/* Main page left hand side (navigation) container */
#gh-page-container #gh-left-container {
    float: left;
    height: 100%;
    padding: 0;
    position: fixed;
    width: 320px;
    z-index: 3;
}

#gh-page-container #gh-left-container #gh-header-logo img {
    -webkit-box-sizing: initial;
       -moz-box-sizing: initial;
            box-sizing: initial;
    width: 177px;
    padding: 39px 46px 38px 46px;
}

#gh-page-container #gh-left-container #gh-content-description p {
    margin: 0;
    padding: 30px 39px;
}

#gh-page-container #gh-left-container #gh-result-summary {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 45px;
}

#gh-page-container #gh-left-container #gh-result-summary p {
    margin: 0;
    padding: 12px 39px;
}

/* Main page right hand side (content) container */
#gh-page-container #gh-header {
    height: 115px;
}

#gh-page-container #gh-right-container #gh-header-container {
    left: 320px;
    right: 0;
    z-index: 3;
}

@media (max-width: 767px) {

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    height: 100px;
}

#gh-page-container #gh-right-container {
    padding-left: 320px;
    width: 100%;
    height: 100%;
}

/***********/
/* BUTTONS */
/***********/

.btn {
    font-weight: 200;
}
