/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***************/
/* BASE STYLES */
/***************/

body {
    font-family: 'Myriad Pro', helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

h2 {
    font-size: 17px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

select.form-control {
    height: 45px;
}

label {
    font-weight: 600;
}


/**********/
/* LAYOUT */
/**********/

#gh-main {
    margin-bottom: 30px;
}

/* Main page container */
#gh-page-container {
    min-width: 1280px;
}

/* Main page left hand side (navigation) container */
#gh-page-container #gh-left-container {
    float: left;
    height: 100%;
    padding: 0;
    position: fixed;
    width: 320px;
    z-index: 3;
}

#gh-page-container #gh-left-container #gh-header-logo img {
    -webkit-box-sizing: initial;
       -moz-box-sizing: initial;
            box-sizing: initial;
    width: 177px;
    padding: 39px 46px 38px 46px;
}

#gh-page-container #gh-left-container #gh-content-description p {
    margin: 0;
    padding: 30px 39px;
}

#gh-page-container #gh-left-container #gh-meta-container {
    position: absolute;
    z-index: 3;
}

#gh-page-container #gh-left-container #gh-navigation-container,
#gh-page-container #gh-left-container #gh-modules-container {
    height: 100%;
    padding-bottom: 45px;
    padding-top: 215px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 45px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-result-summary p {
    margin: 0;
    padding: 13px 40px;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list-container {
    overflow: hidden;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list-container:hover {
    overflow-y: auto;
}

#gh-page-container #gh-left-container #gh-modules-container #gh-modules-list {
    height: 100%;
    width: 320px;
}

/* Main page right hand side (content) container */
#gh-page-container #gh-header {
    height: 115px;
}

#gh-page-container #gh-right-container #gh-header-container {
    left: 320px;
    right: 0;
    z-index: 3;
}

@media (max-width: 767px) {

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    #gh-page-container #gh-right-container #gh-header-container .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    height: 100px;
}

#gh-page-container #gh-right-container #gh-subheader {
    position: relative;
}

#gh-page-container #gh-left-container #gh-content-description {
    width: 320px;
}

#gh-page-container #gh-right-container {
    padding-left: 320px;
    width: 100%;
    height: 100%;
}


/***********/
/* BUTTONS */
/***********/

.btn {
    font-size: 15px;
    font-weight: 200;
}


/**********/
/* MODALS */
/**********/

.modal {
    z-index: 10000;
}

.modal-header,
.modal-body {
    padding: 25px;
}

.modal-footer {
    border-top: 0;
    padding: 0 25px 15px 15px;
}

.modal-header .close {
    font-weight: 200;
    opacity: 1;
    text-shadow: none;
}

.modal-header .close:hover {
    color: #AAA;
    font-weight: 200;
    opacity: 1;
}

.modal-title {
    font-size: 22px;
    font-weight: 200;
}

.modal-content {
    border-radius: 0;
}

.modal-content form label {
    color: #8D8D8D;
    font-weight: 200;
}


/*****************/
/* NOTIFICATIONS */
/*****************/

/* @see http://getbootstrap.com/components/#alerts
 * @see http://nijikokun.github.io/bootstrap-notify */

.alert {
    padding: 8px 35px 8px 14px;
}

.alert h4 {
    margin-bottom: 12px;
}

.notifications .alert {
    padding: 20px 40px 20px 30px;
    border-top: none;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}

.notifications.top-center {
    top: 0;
    left: 20%;
    position: fixed;
    width: 60%;
    z-index: 9999;
}

.notifications.top-center > div {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
}
