/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

.gh-focus {
    outline: -webkit-focus-ring-color auto 5px;
}

/**********/
/* HEADER */
/**********/

#gh-right-container #gh-header h1 {
    display: inline-block;
    margin: 36px 0 35px 40px;
}

#gh-right-container #gh-header #gh-signin-form,
#gh-right-container #gh-header #gh-signout-form {
    margin: 42px 30px 35px 40px;
}


/*************/
/* SUBHEADER */
/*************/

#gh-right-container #gh-subheader form {
    margin: 0;
    min-width: 960px;
    padding: 28px 0 0;
}


/***********/
/* BUTTONS */
/***********/

.btn {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    padding: 8px 12px;
}

.btn i {
    padding-right: 5px;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}


/*******************/
/* NAVIGATION TABS */
/*******************/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none !important;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}


/************/
/* CALENDAR */
/************/

#gh-calendar-container {
    opacity: 1;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
            transition: opacity .2s;
}

#gh-calendar-container,
.gh-toolbar-secondary {
    margin: 0 30px;
}

/* Toolbar */
#gh-toolbar-container {
    height: 134px;
}

.gh-toolbar-primary .gh-toolbar-actions {
    margin-right: 30px;
}

/* Default buttons */
#gh-toolbar-container .btn-default,
.nav-tabs > li > a {
    height: 100%;
    padding: 12px;
}

/* Primary toolbar */
.gh-toolbar-primary {
    height: 44px;
    left: 320px;
    right: 0;
    z-index: 2;
}

.gh-toolbar-primary .gh-toolbar-views,
.gh-toolbar-primary .gh-toolbar-actions {
    height: 100%;
}

/* Secondary toolbar */
#gh-toolbar-container .gh-toolbar-secondary {
    font-weight: 600;
    padding-top: 28px;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
            transition: opacity .2s;
    z-index: 2;
}

#gh-toolbar-container .gh-toolbar-secondary #gh-calendar-toolbar-period,
#gh-toolbar-container .gh-toolbar-secondary #gh-calendar-toolbar-terms {
    display: table;
    height: 32px;
    position: relative;
    z-index: 1;
}

#gh-toolbar-container .gh-toolbar-secondary .btn-default.gh-btn-tertiary {
    height: auto;
    margin-bottom: 2px;
}

#gh-toolbar-container .gh-toolbar-secondary .btn-default.gh-btn-tertiary i {
    padding: 0;
}

.gh-toolbar-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

/* Today button */
#gh-toolbar-container .gh-toolbar-secondary #gh-calendar-toolbar-today {
    height: 32px;
    position: absolute;
    width: 100%;
}

#gh-toolbar-container .gh-toolbar-secondary #gh-btn-calendar-today {
    border: none;
    padding: 8px 12px;
}

.gh-toolbar-label {
    display: inline-block;
    font-weight: 400;
    min-width: 60px;
    text-align: center;
}

/* Calendar (assumes weekly view and other views inherit unless otherwise specified) */

.fc-time-grid-container {
    height: 100% !important;
}

.fc-widget-header,
.fc-slats .fc-minor td:first-child,
.fc td:first-child,
.fc-content-skeleton td,
.fc-state-highlight,
.fc-ltr .fc-axis,
.fc-row.fc-widget-header thead tr th:first-child {
    border-style: none !important;
}

.fc-time-grid-container td.fc-time {
    font-size: 12px;
    font-weight: 600;
}

#gh-calendar-container .fc-widget-header .fc-row > table {
    border-collapse: initial;
}

.fc-row.fc-widget-header thead tr th,
.fc-month-view .fc-row.fc-widget-header thead tr th:first-child {
    border-bottom-style: solid !important;
    border-bottom-width: 6px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    vertical-align: middle;
}

.fc-agendaDay-view .fc-row.fc-widget-header thead tr th.fc-today, .fc-agendaWeek-view .fc-row.fc-widget-header thead tr th.fc-today {
    font-weight: 600;
}

.fc-month-view td.fc-today {
    border-top-style: solid !important;
    border-top-width: 6px;
}

.fc-month-view .fc-bg td.fc-today:before {
    border-top-width: 6px;
    border-top-style: solid;
    content: "";
    width: 100%;
    position: absolute;
}

.fc-ltr .fc-basic-view .fc-day-number,
.fc-ltr .fc-basic-view .fc-today.fc-day-number {
    padding: 8px 8px 8px 11px;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
}

.fc-ltr .fc-basic-view .fc-today.fc-day-number {
    font-weight: bold;
    padding-top: 5px;
}

.fc-slats .fc-minor td {
    border-top-style: dashed;
}

.fc td.fc-today {
    border-right-style: solid !important;
}

.fc td:last-child.fc-today {
    border-right-style: none !important;
}

.fc-event-container {
    margin: 1px 1px 0 0 !important;
}

.fc-event-container .fc-event {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border: none;
    border-left-style: solid;
    border-left-width: 5px;
    cursor: pointer;
}

.fc-event-container .fc-event.highlighted {
    z-index: 1000 !important;
}

.fc-event-container .fc-event .fc-content {
    font-weight: 600;
}

.fc-time-grid-event .fc-title,
.fc-time-grid-event .fc-location {
    display: block !important;
    margin: 4px 6px;
    overflow: hidden;
}

.fc-time-grid-event .fc-title {
    font-weight: 400;
}

.fc-time-grid-event .fc-location {
    margin-top: 2px;
}

.fc-time-grid > hr {
    display: none !important;
}

.fc-bg tbody tr > td.fc-widget-content {
    border-right-style: solid;
}

.fc-bg tbody tr > td.fc-widget-content:last-child {
    border-right-style: none;
}

td.fc-widget-content {
    border-style: none;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;
}

.fc-month-view tbody > tr > td.fc-day.fc-widget-content {
    border-style: solid !important;
}

.fc-month-view tbody > tr > td.fc-today.fc-widget-content {
    border-top-width: 0;
    position: relative;
}

.fc-day-grid .fc-week:first-child tbody tr td,
.fc-agendaDay-view tbody tr:first-child > td.fc-widget-content,
.fc-agendaWeek-view tbody tr:first-child > td.fc-widget-content {
    border-top-width: 0;
}

tbody tr:last-child > td.fc-widget-content {
    border-bottom-width: 0;
}

/* Calendar 'more' popover */
.fc-more-popover .fc-header .fc-close {
    padding: 1px;
}

.fc-more-popover .fc-header .fc-title {
    font-size: 13px;
    padding: 3px 3px 0;
}

/* Export calendar */

#gh-calendar-view #gh-export-container {
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: 259px;
    -webkit-transition: width .2s, opacity .2s;
       -moz-transition: width .2s, opacity .2s;
            transition: width .2s, opacity .2s;
    width: 0;
}

#gh-calendar-view #gh-export-container a,
#gh-calendar-view #gh-export-container .btn-link {
    font-weight: 400 !important;
}

#gh-calendar-view #gh-export-container #gh-export-main {
    padding: 30px;
    margin-top: 30px;
    width: 370px;
}

#gh-calendar-view .gh-toolbar-primary button {
    opacity: 1;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
            transition: opacity .2s;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-subscribe {
    display: block;
    padding: 15px;
    width: 100%;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-collapsed-other-toggle {
    margin: 20px 0 12px 0;
    padding: 8px 0;
}

#gh-calendar-view #gh-export-container #gh-export-main .gh-export-other-option {
    display: list-item;
    font-weight: 400;
    list-style-type: decimal;
    margin-left: 18px;
}

#gh-calendar-view #gh-export-container #gh-export-main textarea {
    height: 70px;
    font-family: monospace;
    font-size: 13px;
    margin-bottom: 25px;
    padding: 7px 12px;
    resize: none;
    width: 100%;
}

#gh-calendar-view #gh-export-container #gh-export-main ul {
    list-style-type: circle;
    padding: 0 0 0 25px;
}

#gh-calendar-view #gh-export-container #gh-export-main ul li {
    margin: 7px 0;
}

#gh-calendar-view #gh-export-container #gh-export-main ul li:last-child {
    margin: 0;
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message {
    display: block;
    padding: 20px 20px 20px 30px;
    width: 400px;
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message i {
    float: left;
    font-size: 20px;
    height: 20px;
    margin: 9px 12px 0 0;
    width: 20px;
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message small {
    display: block;
    font-size: 14px;
    overflow: auto;
    width: 210px;
}

/* Export calendar animations */

#gh-calendar-view.gh-export-enabled #gh-calendar-container {
    opacity: 0.2;
}

#gh-calendar-view.gh-export-enabled .gh-toolbar-secondary {
    opacity: 0.2;
}

#gh-calendar-view.gh-export-enabled #gh-export-container {
    opacity: 1;
    width: 400px;
}

#gh-calendar-view.gh-export-enabled .gh-toolbar-primary button {
    opacity: 0;
}

#gh-calendar-view.gh-export-enabled .gh-toolbar-primary #gh-btn-calendar-export {
    opacity: 1;
}


/**************/
/* LIST GROUP */
/**************/

.list-group {
    margin: 0;
}

.list-group .list-group-item {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0;
    padding: 0;
}

.list-group .list-group-item .gh-list-group-item-container {
    width: 100%;
}

/* This container is needed to let the 3 columns behave like table cells and thus create the perfect layout */
.list-group .list-group-item .gh-list-group-item-container,
.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list {
    display: table;
}

.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list {
    font-weight: 200;
    width: 100%;
    padding: 0;
}

.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list:focus,
.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list:hover {
    text-decoration: none;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group .list-group-item p {
    font-size: 14px;
    margin: 0;
    opacity: 0.8;
    text-align: initial;
    white-space: pre-line;
    word-break: break-word;
}

.list-group .list-group-item p.gh-list-description-text {
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
}

.list-group .list-group-item .gh-list-action,
.list-group .list-group-item .gh-list-icon,
.list-group .list-group-item .gh-list-description {
    padding: 14px 0;
}

.list-group .list-group-item .gh-list-action {
    display: table-cell;
    max-width: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.list-group .list-group-item .gh-list-action .btn-link {
    height: 100%;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.list-group .list-group-item .gh-list-action .btn-link i {
    font-size: 19px;
    padding: 0;
}

.list-group .list-group-item .gh-list-icon {
    display: table-cell;
    max-width: 40px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.list-group .list-group-item .gh-list-icon i {
    font-size: 26px;
}

.list-group .list-group-item .gh-list-description {
    display: table-cell;
    overflow: auto;
    padding: 15px 5px 10px 0;
    width: 230px;
}

/* Nested list */
.list-group .list-group-item .list-group .list-group-item {
    cursor: pointer;
    margin-left: 40px;
}

.list-group .list-group-item.gh-list-group-item-open .list-group {
    display: block !important;
}

.list-group .list-group-item .list-group .list-group-item:first-child {
    border-top-style: solid;
    border-top-width: 1px;
}

.list-group .list-group-item .list-group .list-group-item:last-child {
    border-bottom: none;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-description {
    padding: 12px 5px 12px 20px;
    width: 230px;
}


/*******************/
/* NAVIGATION PILL */
/*******************/

.nav-stacked > li + li {
    margin-top: 0;
}

.nav-pills.nav-stacked > li > a {
    border-radius: 0;
    font-weight: 200;
}

.nav-pills.nav-stacked > li.active > a,
.nav-pills.nav-stacked > li.active > a:hover,
.nav-pills.nav-stacked > li.active > a:focus {
    cursor: default;
    font-weight: 400;
}


/*********/
/* PANEL */
/*********/

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 10px 20px 20px;
}

.panel,
.panel-group .panel,
.panel-heading {
    border-radius: 0;
}

.panel-group,
.panel .panel-heading h2 {
    margin: 0;
}

.panel-group .panel {
    border-bottom: none;
}

.panel-group:last-child .panel {
    border-bottom: 1px solid #DDD;
}

/**********/
/* CHOSEN */
/**********/

.chosen-container {
    font-size: 15px;
    margin-right: 20px;
}

.chosen-container .chosen-single {
    height: 45px !important;
    padding-top: 2px;
}

.chosen-container .chosen-single,
.chosen-container .chosen-drop {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.30);
       -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.30);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.30);
}

.chosen-container .chosen-single span,
.chosen-container .chosen-single b {
    margin-top: 9px;
}

.chosen-container .chosen-single b {
    height: 18px !important;
    width: 18px !important;
}

.chosen-container .chosen-search {
    padding: 0 8px;
}

.chosen-container .chosen-search input {
    padding: 5px 20px 4px 7px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    background-image: none !important;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
       -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s !important;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.chosen-container .chosen-results {
    margin: 0 8px 0 0;
    max-height: 320px;
    padding: 0 0 5px 8px;
}

.chosen-container .chosen-results li {
    font-weight: 400;
    padding: 10px 8px;
}

.chosen-container .chosen-results li.highlighted {
    background-image: none;
}


/***********/
/* POPOVER */
/***********/

.popover {
    font-size: 12px;
    max-width: 350px;
    width: 350px;
}

.popover .popover-title {
    display: none;
}

.popover .popover-content {
    margin: 12px 10px;
}

.popover h3 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 7px;
}

.popover p {
    margin: 0 0 3px;
}

.popover small {
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-top: 15px;
    padding-top: 7px;
}

.modal #gh-modules-container {
    margin-top: 25px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
