/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/**********/
/* HEADER */
/**********/

#gh-right-container #gh-header h1 {
    display: inline-block;
    margin: 36px 0 35px 40px;
}

#gh-right-container #gh-header #gh-signin-form,
#gh-right-container #gh-header #gh-signout-form {
    margin: 42px 40px 35px 40px;
}


/*************/
/* SUBHEADER */
/*************/

#gh-right-container #gh-subheader form {
    margin-bottom: 0;
    margin-right: 0;
    padding: 28px 0 0;
}


/***********/
/* BUTTONS */
/***********/

.btn {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.btn i {
    padding-right: 5px;
}


/************/
/* CALENDAR */
/************/

/* Toolbar */
#gh-calendar-toolbar {
    height: 134px;
}

#gh-calendar-toolbar .gh-toolbar {
    padding-right: 44px;
}

#gh-calendar-toolbar .gh-toolbar-label {
    font-weight: bold;
}

/* Button */
.gh-toolbar-button {
    background-image: none;
    border: none;
    color: #FFF;
    display: inline;
    margin: 0;
}

.gh-toolbar-button, .gh-toolbar-button.default {
    background-color: transparent;
}

.gh-toolbar-button.dark {
    background-color: #414141;
}

/* Primary */
.gh-toolbar-primary {
    background-color: #127077;
    height: 44px;
}

.gh-toolbar-primary .gh-toolbar-views,
.gh-toolbar-primary .gh-toolbar-actions {
    height: 100%;
}

.gh-toolbar-primary .gh-toolbar-button {
    float: left;
    height: 100%;
    min-width: 80px;
    padding: 0 20px;
}

.gh-toolbar-primary .gh-toolbar-button.active {
    background-color: white;
}

.gh-toolbar-primary .gh-toolbar-button i {
    margin-right: 6px;
}

/* Secondary */
.gh-toolbar-secondary {
    height: 90px;
    line-height: 90px;
}

.gh-toolbar-secondary .gh-toolbar-period,
.gh-toolbar-secondary .gh-toolbar-term {
    height: 100%;
}

.gh-toolbar-secondary .gh-toolbar-period {
    margin-left: 80px;
}

.gh-toolbar-secondary .gh-toolbar-button {
    color: #414141;
    height: 44px;
    width: 22px;
}

.gh-toolbar-primary .gh-toolbar-button.default:hover {
    background-color: #07525D;
}

.gh-toolbar-primary .gh-toolbar-button.active {
    color: #414141;
}

/* Calendar Container */
#gh-calendar-container {
    padding-right: 44px;
}

/*
.fc .fc-axis{
    width: 70px !important;
    padding-right: 10px;
}

.fc-view.fc-month-view {
    margin-left: 79px;
}

.gh-calendar-container {
    padding: 0 20px;
    background-color: green;
}

/* FullCalendar *
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #DFE7E4;
}

.fc td.fc-today {
    background: none;
    position: relative;
}

.fc .fc-event-container {
    margin: 0 !important;
}

.fc .fc-event-container .fc-content span {
    display: block;
}

/* month view *
.fc .fc-day-grid-container .fc-bg td.fc-today:before {
    border-top: 7px solid #414141;
    content: "";
    width: 100%;
    position: absolute;
}

.fc .fc-day-grid-container .fc-content-skeleton thead td {
    padding: 10px;
}

.fc .fc-day-grid-container .fc-content-skeleton td.fc-today {
    font-weight: bold;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
}

.fc-unthemed .fc-agenda-view th {
    text-align: center;
}

.fc-unthemed .fc-month-view th {
    text-align: left;
}

.fc-bgevent,
.fc-event {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #E7F8F0;
    border-width: 0;
    border-left: 5px solid #127077;
    color: #414141;
    padding: 6px;
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.fc-day.fc-widget-content.fc-sat,
td.fc-day.fc-widget-content.fc-sun {
    background-color: #EFF3F1;
}
*/

/*********/
/* LISTS */
/*********/

.list-group {
    margin: 0;
}

.list-group .list-group-item {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0;
    padding: 0;
}

/* This container is needed to let the 3 columns behave like table cells and thus create the perfect layout */
.list-group .list-group-item .gh-list-group-item-container,
.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list {
    display: table;
}

.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list {
    font-weight: 200;
    padding: 0;
    width: 270px;
}

.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list:focus,
.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list:hover {
    text-decoration: none;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group .list-group-item p {
    margin: 0;
    text-align: initial;
    white-space: pre-line;
    word-break: break-word;
}

.list-group .list-group-item .gh-list-action,
.list-group .list-group-item .gh-list-icon,
.list-group .list-group-item .gh-list-description {
    padding: 14px 0;
}

.list-group .list-group-item .gh-list-action {
    display: table-cell;
    max-width: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.list-group .list-group-item .gh-list-action .btn-link {
    height: 100%;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.list-group .list-group-item .gh-list-action .btn-link i {
    font-size: 19px;
    padding: 0;
}

.list-group .list-group-item .gh-list-icon {
    display: table-cell;
    max-width: 40px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.list-group .list-group-item .gh-list-icon i {
    font-size: 26px;
}

.list-group .list-group-item .gh-list-description {
    display: table-cell;
    overflow: auto;
    padding-right: 7px;
    width: 230px;
}

/* Nested list */
.list-group .list-group-item .list-group .list-group-item {
    margin-left: 60px;
}

.list-group .list-group-item.gh-list-group-item-open .list-group {
    display: block !important;
}

.list-group .list-group-item .list-group .list-group-item:first-child {
    border-top-style: solid;
    border-top-width: 1px;
}

.list-group .list-group-item .list-group .list-group-item:last-child {
    border-bottom: none;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-description {
    width: 210px;
}


/**********/
/* CHOSEN */
/**********/

.chosen-container {
    font-size: 14px;
    margin-right: 20px;
}

.chosen-container .chosen-single {
    height: 45px !important;
}

.chosen-container .chosen-single span,
.chosen-container .chosen-single b {
    margin-top: 9px;
}

.chosen-container .chosen-single b {
    height: 18px !important;
    width: 18px !important;
}

.chosen-container .chosen-search {
    padding: 0 8px;
}

.chosen-container .chosen-search input {
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    background-image: none !important;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
       -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s !important;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.chosen-container .chosen-results { 
    margin: 0 8px 8px 0;
    max-height: 320px;
    padding: 0 0 0 8px;
}

.chosen-container .chosen-results li {
    padding: 10px 5px;
}

.chosen-container .chosen-results li.highlighted {
    background-image: none;
}
