/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

.gh-focus {
    outline: -webkit-focus-ring-color auto 5px;
}


/**********/
/* HEADER */
/**********/

#gh-right-container #gh-header h1 {
    display: inline-block;
    margin: 36px 0 35px 40px;
}

#gh-right-container #gh-header .gh-signin-form,
#gh-right-container #gh-header #gh-signout-form {
    margin: 42px 30px 35px 40px;
}


/*************/
/* SUBHEADER */
/*************/

#gh-right-container #gh-subheader form {
    margin: 0 0 0 40px;
    min-width: 900px;
    padding: 28px 0 0;
}


/***********/
/* BUTTONS */
/***********/

.btn {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    padding: 8px 12px;
}

.btn i {
    padding-right: 5px;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}


/*******************/
/* NAVIGATION TABS */
/*******************/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none !important;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}


/************/
/* CALENDAR */
/************/

#gh-my-calendar-view,
#gh-calendar-view-container {
    margin-top: 30px;
}

#gh-calendar-loading-container {
    margin-top: 100px;
    text-align: center;
}

#gh-calendar-loading-container h2 {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 12px;
}

#gh-calendar-loading-container i {
    font-size: 25px;
}

#gh-calendar-container {
    opacity: 1;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;
}

#gh-calendar-container,
.gh-toolbar-secondary {
    margin: 0 30px;
}

/* Toolbar */
#gh-toolbar-container {
    height: 44px;
}

.gh-toolbar-primary .gh-toolbar-actions {
    margin-right: 30px;
}

/* Default buttons */
#gh-toolbar-container .btn-default,
.gh-toolbar-secondary .btn-default,
.nav-tabs > li > a {
    font-weight: 400;
    height: 100%;
    padding: 12px 25px;
}

#gh-toolbar-container .btn-default.gh-btn-reverse.active {
    font-weight: 600;
}

.gh-toolbar-secondary .btn-default {
    padding: 8px 12px;
}

/* Primary toolbar */
.gh-toolbar-primary {
    height: 44px;
    left: 320px;
    right: 0;
    z-index: 2;
}

.gh-toolbar-primary .gh-toolbar-views,
.gh-toolbar-primary .gh-toolbar-actions {
    height: 100%;
}

/* Secondary toolbar */
.gh-toolbar-secondary {
    font-weight: 600;
    opacity: 1;
    padding: 0 20px 60px;
    position: relative;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;
    z-index: 2;
}

.gh-toolbar-secondary #gh-calendar-toolbar-period,
.gh-toolbar-secondary #gh-calendar-toolbar-terms,
.gh-toolbar-secondary #gh-calendar-toolbar-view {
    display: table;
    height: 32px;
    position: relative;
    z-index: 1;
}

.gh-toolbar-secondary #gh-calendar-toolbar-terms {
    min-width: 200px;
}

.gh-toolbar-secondary .btn-default.gh-btn-tertiary {
    height: auto;
    margin-bottom: 2px;
}

.gh-toolbar-secondary .btn-default.gh-btn-tertiary i {
    padding: 2px 0 3px;
}

.gh-toolbar-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

/* Today button */
.gh-toolbar-secondary #gh-calendar-toolbar-today {
    height: 32px;
    position: absolute;
    width: 100%;
}

.gh-toolbar-secondary #gh-btn-calendar-today {
    border: none;
}

.gh-toolbar-label {
    display: inline-block;
    font-weight: 400;
    min-width: 60px;
    text-align: center;
}

/* Calendar (assumes weekly view and other views inherit unless otherwise specified) */

.fc-time-grid-container {
    height: 100% !important;
}

.fc-widget-header,
.fc-slats .fc-minor td:first-child,
.fc td:first-child,
.fc-content-skeleton td,
.fc-state-highlight,
.fc-ltr .fc-axis,
.fc-row.fc-widget-header thead tr th:first-child {
    border-style: none !important;
}

.fc-time-grid-container td.fc-time {
    font-size: 12px;
    font-weight: 600;
}

#gh-calendar-container .fc-widget-header .fc-row > table {
    border-collapse: separate;
}

.fc-row.fc-widget-header thead tr th,
.fc-month-view .fc-row.fc-widget-header thead tr th:first-child {
    border-bottom-style: solid !important;
    border-bottom-width: 6px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    padding-top: 9px;
}

.fc-agendaDay-view .fc-row.fc-widget-header thead tr th.fc-today, .fc-agendaWeek-view .fc-row.fc-widget-header thead tr th.fc-today {
    font-weight: 600;
}

.fc-month-view .fc-today.fc-day-number {
    border-right-style: solid !important;
    border-right-width: 1px !important;
}

.fc-ltr .fc-basic-view .fc-day-number,
.fc-ltr .fc-basic-view .fc-today.fc-day-number {
    padding: 10px 8px 6px 11px;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
}

.fc-ltr .fc-basic-view .fc-today.fc-day-number {
    font-weight: bold;
}

.fc-slats .fc-minor td {
    border: none !important;
}

.fc td.fc-today {
    border-right-style: solid !important;
}

.fc td:last-child.fc-today {
    border-right-style: none !important;
}

.fc-event-container {
    margin: 1px 1px 0 0 !important;
}

.fc-event-container .fc-event {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px !important;
    border-left-style: solid;
    border-left-width: 5px;
    cursor: pointer;
}

.fc-event-container .fc-event.highlighted {
    z-index: 1000 !important;
}

.fc-event-container .fc-event .fc-content {
    font-weight: 600;
}

.fc-time-grid-event .fc-title,
.fc-time-grid-event .fc-location {
    display: block !important;
    margin: 4px 6px;
    overflow: hidden;
}

.fc-time-grid-event .fc-title {
    font-weight: 400;
}

.fc-time-grid-event .fc-location {
    margin-top: 2px;
}

.fc-time-grid > hr {
    display: none !important;
}

.fc-bg tbody tr > td.fc-widget-content {
    border-right-style: solid;
}

.fc-bg tbody tr > td.fc-widget-content:last-child {
    border-right-style: none;
}

td.fc-widget-content {
    border-style: none;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;
}

.fc-month-view tbody > tr > td.fc-day.fc-widget-content {
    border-style: solid !important;
}

.fc-month-view tbody > tr > td.fc-today.fc-widget-content {
    border-top-width: 0;
    position: relative;
}

.fc-day-grid .fc-week:first-child tbody tr td,
.fc-agendaDay-view tbody tr:first-child > td.fc-widget-content,
.fc-agendaWeek-view tbody tr:first-child > td.fc-widget-content {
    border-top-width: 0;
}

tbody tr:last-child > td.fc-widget-content {
    border-bottom-width: 0;
}

/* Calendar 'more' popover */
.fc-more-popover .fc-header .fc-close {
    padding: 1px;
}

.fc-more-popover .fc-header .fc-title {
    font-size: 13px;
    padding: 3px 3px 0;
}

/* Export calendar */

#gh-calendar-view #gh-export-container {
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: 259px;
    -webkit-transition: width .2s, opacity .2s;
       -moz-transition: width .2s, opacity .2s;
         -o-transition: width .2s, opacity .2s;
            transition: width .2s, opacity .2s;
    width: 0;
}

/* Position the export panel on mobile devices */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
    #gh-calendar-view {
        position: relative;
    }

    #gh-calendar-view #gh-export-container {
        top: 43px;
    }
}

#gh-calendar-view #gh-export-container a,
#gh-calendar-view #gh-export-container .btn-link {
    font-weight: 400 !important;
}

#gh-calendar-view #gh-export-container #gh-export-main {
    margin-top: 30px;
    padding: 30px 30px 10px 40px;
    width: 370px;
}

#gh-calendar-view .gh-toolbar-primary button {
    opacity: 1;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;
}

#gh-calendar-view #gh-export-container #gh-export-main p#gh-export-add-description {
    font-weight: 400;
    margin-bottom: 20px;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-subscribe {
    border: none;
    display: block;
    padding: 16px 0 14px 0;
    width: 100%;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-collapsed-other-toggle {
    margin: 20px 0 12px 0;
    padding: 8px 0;
}

#gh-calendar-view #gh-export-container #gh-export-main .gh-export-other-option {
    display: list-item;
    font-weight: 400;
    list-style-type: decimal;
    margin-left: 18px;
    padding-bottom: 5px;
}

#gh-calendar-view #gh-export-container #gh-export-main textarea {
    font-family: monospace;
    font-size: 13px;
    height: 100px;
    margin: 0 0 20px 18px;
    padding: 5px 5px;
    resize: none;
    width: 280px;
}

#gh-calendar-view #gh-export-container #gh-export-main ul {
    list-style-type: circle;
    padding: 0 0 0 33px;
}

#gh-calendar-view #gh-export-container #gh-export-main ul li {
    margin: 7px 0;
}

#gh-calendar-view #gh-export-container #gh-export-main ul li:last-child {
    margin: 0;
}

#gh-calendar-view #gh-export-container #gh-export-main ul li i {
    font-size: 14px;
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message {
    display: block;
    padding: 20px 20px 20px 40px;
    width: 400px;
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message i {
    float: left;
    font-size: 20px;
    height: 20px;
    margin: 9px 12px 0 0;
    width: 20px;
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message small {
    display: block;
    font-size: 15px;
    overflow: auto;
}

/* Export calendar animations */

#gh-calendar-view.gh-export-enabled #gh-calendar-container {
    opacity: 0.2;
}

#gh-calendar-view.gh-export-enabled .gh-toolbar-secondary {
    opacity: 0.2;
}

#gh-calendar-view.gh-export-enabled #gh-export-container {
    opacity: 1;
    width: 400px;
    z-index: 2;
}

#gh-calendar-view.gh-export-enabled .gh-toolbar-primary button {
    opacity: 0;
}

#gh-calendar-view.gh-export-enabled .gh-toolbar-primary #gh-btn-calendar-export {
    opacity: 1;
}


/**************/
/* EMPTY PART */
/**************/

#gh-empty {
    margin-left: -320px;
    text-align: center;
}

.gh-empty-icons {
    height: 200px;
    margin-bottom: 30px;
    margin-top: 70px;
    position: relative;
}

.gh-empty-icons .fa {
    position: absolute;
}

.gh-empty-icons .fa-calendar-o {
    font-size: 200px;
    margin-left: -100px;
}

.gh-empty-icons .fa-share-square-o {
    font-size: 100px;
    margin-left: -46px;
    margin-top: 85px;
}

.gh-empty-main {
    font-size: 27px;
    font-weight: 400;
}

.gh-empty-description {
    font-weight: 400;
}

#gh-empty-access {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px 25px;
}


/**************/
/* LIST GROUP */
/**************/

.list-group {
    margin: 0;
}

.list-group .list-group-item {
    border-width: 0 0 1px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0;
    padding: 0;
}

.list-group .list-group-item .list-group .list-group-item {
    border-bottom-width: 0;
}

.list-group .list-group-item .gh-list-group-item-container {
    width: 100%;
}

/* This container is needed to let the 3 columns behave like table cells and thus create the perfect layout */
.list-group .list-group-item .gh-list-group-item-container,
.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list {
    display: table;
}

.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list {
    font-weight: 200;
    width: 100%;
    padding: 0;
}

.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list:focus,
.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list:hover {
    text-decoration: none;
}

.list-group .list-group-item .gh-list-group-item-container .gh-toggle-list + ul {
    display: none;
    position: absolute;
    right: 0;
    top: 9px;
}

.list-group .list-group-item.gh-list-group-item-open .gh-list-group-item-container .gh-toggle-list + ul {
    display: block;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group-item .gh-list-action {
    border-top: none;
}

.list-group .list-group-item p {
    font-size: 14px;
    margin: 0;
    opacity: 0.8;
    text-align: left;
    white-space: pre-line;
    word-break: normal;
}

.list-group .list-group-item p.gh-list-description-text {
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
}

.list-group .list-group-item span.gh-borrowed-icon-container {
    border-radius: 3px;
    display: block;
    height: 25px;
    overflow: hidden;
    text-align: center;
    width: 25px;
}

.list-group .list-group-item .gh-list-action,
.list-group .list-group-item .gh-list-description,
.list-group .list-group-item .gh-list-icon,
.list-group .list-group-item .gh-series-borrowed {
    display: table-cell;
    vertical-align: middle;
}

.list-group .list-group-item .gh-list-action,
.list-group .list-group-item .gh-list-description,
.list-group .list-group-item .gh-list-icon {
    padding: 14px 0;
}


.list-group .list-group-item .list-group .gh-list-action,
.list-group .list-group-item .gh-series-borrowed,
.list-group .list-group-item .list-group .gh-list-description {
    border-top-style: solid;
    border-top-width: 1px;
}

/* List action */

.list-group .list-group-item .gh-list-action {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 50px;
}

.list-group .list-group-item .gh-list-action .btn-link {
    height: 100%;
    padding: 13px 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.list-group .list-group-item .gh-list-action .btn-link:disabled {
    cursor: default !important;
}

.list-group .list-group-item .gh-list-action .btn-link i {
    font-size: 19px;
    padding: 0;
}

/* List description */

.list-group .list-group-item .gh-list-description {
    max-width: 230px;
    overflow: auto;
    padding: 12px 0 12px 0;
    width: auto;
}

.list-group .list-group-item .gh-list-description p.gh-list-metadata:not(.no-information){
    font-weight: 400;
}

/* List icon */

.list-group .list-group-item .gh-list-icon {
    max-width: 40px;
    overflow: hidden;
    text-align: center;
    width: 40px;
}

.list-group .list-group-item .gh-list-icon i {
    font-size: 26px;
}

/* List borrowed */

.list-group .list-group-item .gh-series-borrowed {
    height: 100%;
    width: 30px;
}

.list-group .list-group-item .gh-series-borrowed .fa-link {
    font-weight: 400;
    padding: 5px;
}

/* Nested list */

.list-group .list-group-item .list-group .list-group-item {
    cursor: pointer;
}

.list-group .list-group-item.gh-list-group-item-open .list-group {
    display: block !important;
}

.list-group .list-group-item .list-group .list-group-item:first-child {
    border-top-style: solid;
    border-top-width: 0;
}

.list-group .list-group-item .list-group .list-group-item:last-child {
    border-bottom: none;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-info {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    width: 60px;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-info .fa-info-circle {
    font-size: 20px;
    opacity: 0.75;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-info .fa-info-circle:hover {
    font-size: 20px;
    opacity: 1;
}

.list-group .list-group-item .list-group .list-group-item:hover .gh-list-info {
    visibility: visible;
}

.list-group .list-group-item .list-group .list-group-item:hover .gh-list-info .fa-info-circle {
    padding: 10px;
}


/*******************/
/* NAVIGATION PILL */
/*******************/

.nav-stacked > li + li {
    margin-top: 0;
}

.nav-pills.nav-stacked > li > a {
    border-radius: 0;
    font-weight: 200;
}

.nav-pills.nav-stacked > li.active > a,
.nav-pills.nav-stacked > li.active > a:hover,
.nav-pills.nav-stacked > li.active > a:focus {
    cursor: default;
    font-weight: 400;
}


/*********/
/* PANEL */
/*********/

.panel-default .panel-body .panel-subheading {
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 0 15px;
}

.panel .panel-title > a:hover,
.panel .panel-title > a:focus {
    text-decoration: none;
}

.panel,
.panel-group .panel,
.panel-heading {
    border-radius: 0;
    font-size: 16px;
}

.panel-group,
.panel .panel-heading h2 {
    margin: 0;
}

.panel-group .panel {
    border-bottom: none;
}

.panel-group:last-child .panel {
    border-bottom: 1px solid #DDD;
}

.panel-default,
.panel-group:last-child .panel-default {
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 25px;
}

.panel-group .panel-default {
    border-bottom: none;
    margin-bottom: 0;
}

.panel-default .panel-heading h4.panel-title::after,
.panel-default .panel-heading span::after {
    clear: both;
    content: '';
    display: block;
}

.panel-default.gh-striped-container .panel-body {
    padding-bottom: 0;
}

/* Striped rows */

.panel-default .panel-body .gh-striped-row {
    padding: 9px 0;
}

.panel-default .panel-body .gh-striped-row:nth-child(odd) {
    background-color: #F9F9F9;
}

/* Editable content elements */

.panel-default .panel-body .gh-striped-row input[type="checkbox"] {
    display: block;
    height: 12px;
    margin: 13px auto;
    width: 12px;
}

.panel-default .panel-body .gh-striped-row p {
    margin: 10px auto;
    width: 100%;
}

.panel-default .panel-body .gh-striped-row input[type="text"],
.panel-default .panel-body .gh-striped-row input[type="password"],
.panel-default .panel-heading .gh-striped-container-search input {
    padding: 4px 7px 0;
    width: 100%;
}

.panel-default .panel-body .gh-striped-row input[type="text"],
.panel-default .panel-body .gh-striped-row input[type="password"] {
    height: 39px;
}

.panel-default .panel-body .gh-striped-row button,
.panel-default .panel-body .gh-striped-row a {
    width: 100%;
}

/* Search */

.panel-default .panel-heading .gh-striped-container-search + h4 {
    line-height: 2.1;
}

.panel-default .panel-heading .gh-striped-container-search {
    width: 400px;
}

.panel-default .panel-heading .gh-striped-container-search button {
    height: 34px;
    padding: 6px 12px;
}


/**********/
/* CHOSEN */
/**********/

.chosen-container {
    font-size: 15px;
    margin-right: 20px;
}

.chosen-container .chosen-single {
    height: 45px !important;
    padding-top: 2px;
}

.chosen-container .chosen-single,
.chosen-container .chosen-drop {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.chosen-container .chosen-single span,
.chosen-container .chosen-single b {
    margin-top: 9px;
}

.chosen-container .chosen-single b {
    height: 18px !important;
    width: 18px !important;
}

.chosen-container .chosen-search {
    padding: 0 8px;
}

.chosen-container .chosen-search input {
    padding: 5px 20px 4px 7px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    background-image: none !important;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
       -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s !important;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.chosen-container .chosen-results {
    margin: 0 8px 0 0;
    max-height: 320px;
    padding: 0 0 5px 8px;
}

.chosen-container .chosen-results li {
    font-weight: 400;
    padding: 10px 8px;
}

.chosen-container .chosen-results li.highlighted {
    background-image: none;
}

.chosen-container.chosen-with-drop .chosen-drop,
.chosen-container.chosen-with-drop .chosen-single {
    border-style: solid;
}

.chosen-container.chosen-with-drop .chosen-drop {
    border-width: 0 1px 1px 1px;
}

.chosen-container.chosen-with-drop .chosen-single {
    border-width: 1px 1px 0 1px;
}


/**********/
/* EVENTS */
/**********/

.gh-event-type:not(:empty)::before {
    border-radius: 12px;
    content: attr(data-first);
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    padding: 1px;
    text-align: center;
    width: 20px;
}

.gh-event-type:not(:empty) span {
    display: none;
}



/***********/
/* POPOVER */
/***********/

.popover {
    font-size: 14px;
    max-width: 350px;
    width: 350px;
}

.popover .popover-title {
    display: none;
}

.popover .popover-content {
    margin: 12px 10px;
    padding: 5px 10px;
}

.popover h3 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 15px;
    padding-bottom: 7px;
}

.popover p {
    margin: 0 0 3px;
}

.popover small {
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-size: 14px;
    margin-top: 15px;
    padding-top: 7px;
}

.modal #gh-modules-container {
    margin-top: 25px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Series borrowed info popover */

.popover.gh-series-popover.gh-borrowed-popover {
    margin-left: 20px;
    padding: 3px;
    width: 250px;
}

.gh-student .popover.gh-series-popover.gh-borrowed-popover {
    margin-left: 60px;
}

.gh-student .popover.gh-series-popover.gh-borrowed-published-popover {
    margin-left: 5px;
}


/******************************************************/
/* DROPDOWN                                           */
/* @see http://getbootstrap.com/javascript/#dropdowns */
/******************************************************/

.dropdown ul.dropdown-menu li button {
    text-align: left;
    width: 100%;
}


/*****************/
/* CALENDAR ICON */
/*****************/

.gh-event-calendar-icon {
    display: inline-block;
    overflow: hidden;
    position: absolute;
}

.gh-event-calendar-icon {
    border-style: solid;
    border-width: 1px;
    height: 25px;
    margin-top: -4px;
    width: 23px;
}

.gh-event-calendar-icon .day,
.gh-event-calendar-icon .month {
    display: block;
    font-weight: 800;
    text-align: center;
}

.gh-event-calendar-icon .month {
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
}

.gh-event-calendar-icon .day {
    font-size: 12.5px;
    font-weight: 700;
    line-height: 16px;
}

.gh-event-calendar-icon.gh-event-calendar-icon-xl {
    height: 54px;
    margin-top: 0;
    width: 50px;
}

.gh-event-calendar-icon.gh-event-calendar-icon-xl .month {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding: 3px 0 0;
}

.gh-event-calendar-icon.gh-event-calendar-icon-xl .day {
    font-size: 27px;
    line-height: 34px;
}

.gh-event-calendar-icon.gh-event-calendar-icon-xl + .dayname {
    display: block;
    font-size: 12px;
    margin-top: 57px;
    text-align: center;
    width: 50px;
}


/***************/
/* AGENDA VIEW */
/***************/

#gh-my-agenda-view-container .agenda-view-term {
    margin: 0 30px;
}

#gh-my-agenda-view-container .agenda-view-term:first-child {
    margin: 25px 30px 0;
}

#gh-my-agenda-view-container .agenda-view-term:last-child {
    margin: 0 30px 25px;
}

.agenda-view-term .agenda-view-term-header {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    padding: 12px 12px 7px;
}

.agenda-view-term .agenda-view-term-header button,
.agenda-view-term .agenda-view-term-header button i {
    font-size: 19px;
    font-weight: 600;
    height: 38px;
    padding: 5px;
}

.agenda-view-term .agenda-view-term-header button i {
    width: 20px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 0 12px 15px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week:last-child {
    border-bottom: none !important;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-btn-load-next-week {
    display: none;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week:last-child .gh-btn-load-next-week {
    display: block;
    margin-top: 20px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week h3 {
    font-size: 16px;
    margin: 15px 0 12px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week  .gh-agenda-view-no-events {
    padding: 20px;
    text-align: center;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 12px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event::after {
    content: '';
    display: block;
    clear: both;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week div.gh-agenda-view-term-event:last-of-type,
.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-information:last-child,
.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event.gh-agenda-view-today:last-child,
.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event.gh-agenda-view-today .gh-agenda-view-event-information:last-child {
    border-bottom: none;
    padding-bottom: 5px !important;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-calendar-icon-container {
    float: left;
    height: 66px;
    margin-right: 15px;
    width: 50px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-information {
    margin-left: 65px;
    overflow: auto;
    padding: 12px 12px 12px 0;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event.gh-agenda-view-today .gh-agenda-view-event-information {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-calendar-icon-container + .gh-agenda-view-event-information {
    padding: 0 12px 12px 0;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-information .gh-event-type-container {
    margin-top: 10px;
    width: 100px;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-time,
.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-location,
.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-organisers,
.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-belongs {
    font-size: 14px;
}

span.gh-agenda-view-middot {
    font-size: 30px;
    line-height: 0;
    margin: 0 3px;
    vertical-align: sub;
}


/*********************/
/* SERIES INFO MODAL */
/*********************/

#gh-series-info-modal .modal-header {
    padding: 25px 25px 0 !important;
}

#gh-series-info-modal .modal-header i {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

#gh-series-info-modal .modal-header .gh-series-info-hierarchy {
    max-width: -moz-calc(100% - 50px);
    max-width: -o-calc(100% - 50px);
    max-width: -webkit-calc(100% - 50px);
    max-width: calc(100% - 50px);
}

#gh-series-info-modal .modal-body {
    padding: 20px;
}

#gh-series-info-modal .gh-series-info-list {
    margin-top: 15px;
    max-height: 325px;
    overflow: auto;
}

/* Term */

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-term {
    position: relative;
}

#gh-series-info-modal .gh-series-info-list > div {
    padding-left: 10px;
}

#gh-series-info-modal .gh-series-info-list > div:not(:first-child) {
    padding-top: 20px;
}

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-no-events {
    padding: 10px;
}

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-term strong {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

/* Event */

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-event {
    clear: both;
    height: 35px;
    position: relative;
}

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-event > div {
    float: left;
}

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-event .gh-series-info-list-event-title {
    max-width: -moz-calc(100% - 230px);
    max-width: -o-calc(100% - 230px);
    max-width: -webkit-calc(100% - 230px);
    max-width: calc(100% - 230px);
    overflow: hidden;
    padding-right: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-event .gh-series-info-list-event-type {
    min-width: 30px;
}

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-event .gh-series-info-list-event-date {
    min-width: 200px;
}

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-event .gh-series-info-list-event-date .gh-event-display-date {
    padding-left: 30px;
}

/* Metadata */

#gh-series-info-modal .gh-series-info-location,
#gh-series-info-modal .gh-series-info-organiser {
    border-top-style: solid;
    border-top-width: 1px;
    padding: 10px 15px;
}
