/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/********************/
/* COLLAPSE MODULES */
/********************/

.gh-collapsed main {
    margin-top: 0 !important;
}

.gh-collapsed #gh-page-container #gh-right-container {
    padding-left: 0 !important;
}


/************/
/* CALENDAR */
/************/

#gh-page-container #gh-left-container,
#gh-page-container #gh-right-container #gh-header-container,
#gh-page-container #gh-right-container #gh-main #gh-toolbar-container {
    display: none;
}

#gh-page-container #gh-right-container {
    padding-left: 0;
    transition: none;
}

#gh-page-container #gh-right-container #gh-main {
    margin-bottom: 0;
    padding-top: 0;
}

.fc-event-container .fc-event {
    background-color: #FFF !important;
    border: 1px solid #127077;
    border-left-width: 5px;
}

/* Make sure month view prints a full page */
.fc-day-grid-container {
    height: 800px !important;
    width: 100% !important;
}

.fc-basic-view tbody .fc-row {
    height: 9em !important;
}
