/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***************/
/* BASE STYLES */
/***************/

h1, h2, h3, h4, h5 {
    color: #171717;
}

#gh-page-container #gh-subheader h1,
#gh-page-container #gh-subheader h2,
#gh-page-container #gh-subheader h3,
#gh-page-container #gh-subheader h4,
#gh-page-container #gh-subheader h5 {
    color: #FFF;
}

a,
.btn-link {
    color: #127077;
}

.btn-link i {
    color: #171717;
}

.btn-link:hover i,
.btn-link:focus i {
    color: #777;
}

.gh-warning-text {
    color: #D92751;
}

/**********/
/* LAYOUT */
/**********/

#gh-page-container #gh-left-container #gh-result-summary {
    background-color: #127077;
    border-bottom-color: #171717;
}

#gh-page-container #gh-left-container,
#gh-page-container #gh-left-container #gh-meta-container {
    background-color: #171717;
}

#gh-page-container #gh-header {
    background-color: #FFF;
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    background-color: #07525D;
    color: #FFF;
}

#gh-page-container #gh-left-container #gh-content-description {
    color: rgba(255, 255, 255, 0.6);
}

#gh-page-container #gh-left-container #gh-result-summary p {
    color: #FFF;
}


/*********/
/* FORMS */
/*********/

#gh-right-container #gh-subheader form {
    color: #313131;
}


/***********/
/* BUTTONS */
/***********/

/* Default buttons */
.btn-default {
    color: #FFF;
    background-color: #171717;
    border-color: #171717;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:disabled {
    color: #FFF;
    background-color: #2A2A2A;
    border-color: #2A2A2A;
}

.btn-default:active,
.btn-default.active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    color: #FFF;
    background-color: #7A7A7A;
    border-color: #7A7A7A;
}

/* Primary buttons */
.btn-default.gh-btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: #171717;
}

.btn-default.gh-btn-secondary:hover,
.btn-default.gh-btn-secondary:focus {
    color: #FFF;
    background-color: #2A2A2A;
    border-color: #2A2A2A;
}

.btn-default.gh-btn-secondary:active {
    color: #FFF;
    background-color: #7A7A7A;
    border-color: #7A7A7A;
}

/* Primary buttons reverse */
.btn-default.gh-btn-secondary.gh-btn-reverse {
    background-color: transparent;
    border-color: transparent;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse:hover,
.btn-default.gh-btn-secondary.gh-btn-reverse:focus {
    background-color: #28828A;
    border-color: #28828A;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse:active {
    background-color: #2D939C;
    border-color: #2D939C;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse.active:hover,
.btn-default.gh-btn-secondary.gh-btn-reverse.active:focus,
.btn-default.gh-btn-secondary.gh-btn-reverse.active {
    background-color: #FFF;
    border-color: #FFF;
    color: #171717;
}

/* Secondary buttons */
.btn-default.gh-btn-tertiary {
    background-color: #FFF;
    border-color: #FFF;
    color: #171717;
}

.btn-default.gh-btn-tertiary:hover,
.btn-default.gh-btn-tertiary:focus {
    background-color: #171717;
    border-color: #171717;
    color: #FFF;
}

.btn-default.gh-btn-tertiary:active {
    background-color: #2A2A2A;
    border-color: #2A2A2A;
}

/**************/
/* LIST GROUP */
/**************/

.list-group .list-group-item {
    background-color: #07525D;
    border-bottom-color: #171717;
    color: #FFF;
}

.list-group .list-group-item p {
    color: #FFF;
}

.list-group .list-group-item.gh-list-group-item-open {
    background-color: #3c858e;
}

.list-group .list-group-item .gh-list-action {
    background-color: #127077;
}

.list-group .list-group-item .gh-list-icon i,
.list-group .list-group-item .gh-list-action i {
    color: #FFF;
}

.list-group .list-group-item.gh-list-group-item-added .gh-list-action {
    background-color: #FFF !important;
}

.list-group .list-group-item.gh-list-group-item-added .gh-list-action .btn-link i {
    color: #BE0F34;
}

/* Nested lists */
.list-group .list-group-item.gh-list-group-item-open .list-group .list-group-item {
    background-color: #3C858E;
    border-bottom-color: #127077;
}

.list-group .list-group-item .list-group .list-group-item:first-child {
    border-color: #127077;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-action {
    background-color: #07525D;
}

.list-group .list-group-item .list-group .list-group-item:hover .gh-list-description {
    background-color: #277A81;
}


/*******************/
/* NAVIGATION PILL */
/*******************/

.nav-pills.nav-stacked > li > a {
    background-color: transparent;
    color: #FFF;
}

.nav-pills.nav-stacked > li > a:hover,
.nav-pills.nav-stacked > li > a:focus {
    background-color: #DDD;
    color: #171717;
}

.nav-pills.nav-stacked > li.active > a,
.nav-pills.nav-stacked > li.active > a:hover,
.nav-pills.nav-stacked > li.active > a:focus {
    background-color: #127077;
}


/**********/
/* CHOSEN */
/**********/

.chosen-container .chosen-single {
    background: #FFF;
    color: #171717;
}

.chosen-container .chosen-search input {
    color: #555 !important;
    border-color: #CCC !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #127077;
}


/************/
/* CALENDAR */
/************/

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #E0E7E4;
}

/* Primary toolbar */
.gh-toolbar-primary {
    background-color: #127077;
}

.fc-row.fc-widget-header thead tr th,
.fc-month-view .fc-row.fc-widget-header thead tr th:first-child {
    border-bottom-color: #E0E7E4;
}

.fc-agendaDay-view .fc-row.fc-widget-header thead tr th.fc-today,
.fc-agendaWeek-view .fc-row.fc-widget-header thead tr th.fc-today {
    border-bottom-color: #171717 !important;
}

.fc-agendaWeek-view .fc-row.fc-widget-header thead tr th.fc-today {
    background-color: #E0E7E4;
}

.fc-month-view .fc-bg td.fc-today:before {
    border-top-color: #414141;
}

.fc-month-view td.fc-today {
    border-top-color: #171717 !important;
}

.fc-agendaWeek-view td.fc-today,
.fc-month-view td.fc-today {
    background-color: #E0E7E4 !important;
}

.fc-sat,
.fc-sun {
    background-color: #FFF !important;
}

.fc-slats .fc-minor td {
    border-color: #E1E7E4;
}

tbody .fc-sat,
tbody .fc-sun {
    background-color: #EFF3F1;
}

.fc-event-container .fc-event {
    background-color: #E7F8F0;
    border-left-color: #198289;
}

.fc-event-container .fc-event.highlighted {
    background-color: #0b646f;
}

.fc-event-container .fc-event .fc-content {
    color: #171717;
}

.fc-time-grid-event .fc-location {
    color: #07646F;
}

.fc-event-container .fc-event.highlighted .fc-content,
.fc-time-grid-event.highlighted .fc-content .fc-location {
    color: #FFF;
}

.fc-unthemed .fc-today {
    background-color: transparent;
}

/* Export calendar */

#gh-calendar-view.gh-export-enabled #gh-btn-calendar-export {
    background-color: #EEF2F0;
    border-color: #EEF2F0;
    color: #171717;
}

#gh-calendar-view #gh-export-container {
    background: #EEF2F0;
}

#gh-calendar-view #gh-export-container #gh-export-main {
    background-color: #FFF;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-subscribe {
    background-color: #07525D;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-subscribe:hover {
    background-color: #127077;
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message {
    color: #777;
}

/***********/
/* POPOVER */
/***********/

.popover {
    background-color: #F8F6FB;
}

.popover.left > .arrow:after {
    border-left-color: #F8F6FB;
}

.popover.right > .arrow:after {
    border-right-color: #F8F6FB;
}

.popover h3 {
    border-bottom-color: #DDD;
}

.popover small {
    border-top-color: #DDD;
    color: #777;
}


/*****************/
/* NOTIFICATIONS */
/*****************/

.notifications .alert.alert-success,
.notifications .alert.alert-error,
.notifications .alert.alert-info {
    color: #313131;
    border-color: #BBB;
    background-color: #E0E6E4;
}

.notifications .alert.alert-error {
    background-color: #F2DEDE;
    border-color: #F1D1D1;
}

.notifications .alert.alert-error h4 {
    color: #B94A48;
}

.notifications .alert.alert-info {
    background-color: #d9EDF7;
    border-color: #BBE2F6;
}

.notifications .alert.alert-info h4 {
    color: #31708F;
}
