/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***************/
/* BASE STYLES */
/***************/

h1, h2, h3, h4, h5 {
    color: #171717;
}

input,
textarea {
    border-color: #CCC;
    color: #171717 !important;
}

input[disabled],
select[disabled],
.as-selections.gh-disabled {
    border-color: #EEE !important;
}

#gh-page-container #gh-subheader h1,
#gh-page-container #gh-subheader h2,
#gh-page-container #gh-subheader h3,
#gh-page-container #gh-subheader h4,
#gh-page-container #gh-subheader h5 {
    color: #FFF;
}

a,
.btn-link {
    color: #127077;
}

.btn-link:hover,
.btn-link:hover i,
.btn-link:focus i {
    color: #2A6496;
}

.gh-warning-text {
    color: #D92751;
}


/**************/
/* VALIDATION */
/**************/

.has-error label {
    color: #A94442;
}

.has-error input.form-control {
    background-color: #FFC8C7;
    border-color: #A94442 !important;
}

.has-error .form-control::-moz-placeholder {
    color: #A94442;
}

.has-error .form-control:-ms-input-placeholder {
    color: #A94442;
}

.has-error .form-control::-webkit-input-placeholder {
    color: #A94442;
}


/**********/
/* LAYOUT */
/**********/

#gh-page-container,
#gh-page-container #gh-left-container #gh-navigation-container,
#gh-page-container #gh-left-container #gh-modules-container {
    background-color: #171717;
}

#gh-page-container #gh-left-container #gh-result-summary {
    background-color: #127077;
    border-bottom-color: #171717;
}

#gh-page-container #gh-right-container,
#gh-page-container #gh-header {
    background-color: #FFF;
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    background-color: #07525D;
    color: #FFF;
}

.gh-global-admin #gh-page-container #gh-right-container #gh-subheader,
.gh-global-admin #gh-page-container #gh-left-container #gh-content-description,
.gh-admin #gh-page-container #gh-right-container #gh-subheader,
.gh-admin #gh-page-container #gh-left-container #gh-content-description {
    background-color: #412F5B;
}

#gh-page-container #gh-left-container #gh-content-description {
    color: rgba(255, 255, 255, 0.6);
}

#gh-page-container #gh-left-container #gh-result-summary p {
    color: rgba(255, 255, 255, 0.6);
}


/*********/
/* FORMS */
/*********/

#gh-right-container #gh-subheader form {
    color: #313131;
}


/***********/
/* BUTTONS */
/***********/

/* Default buttons */

.btn-default {
    color: #FFF;
    background-color: #171717;
    border-color: #171717;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:disabled {
    color: #FFF;
    background-color: #2A2A2A;
    border-color: #2A2A2A;
}

.btn-default:active,
.btn-default.active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    color: #FFF;
    background-color: #7A7A7A;
    border-color: #7A7A7A;
}

/* Primary buttons */

.btn-default.gh-btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: #171717;
}

.btn-default.gh-btn-secondary:hover,
.btn-default.gh-btn-secondary:focus {
    color: #FFF;
    background-color: #2A2A2A;
    border-color: #2A2A2A;
}

.btn-default.gh-btn-secondary:active {
    color: #FFF;
    background-color: #7A7A7A;
    border-color: #7A7A7A;
}

/* Primary buttons reverse */

.btn-default.gh-btn-secondary.gh-btn-reverse {
    background-color: transparent;
    border-color: transparent;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse:hover,
.btn-default.gh-btn-secondary.gh-btn-reverse:focus {
    background-color: #28828A;
    border-color: #28828A;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse:active {
    background-color: #2D939C;
    border-color: #2D939C;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse.active:hover,
.btn-default.gh-btn-secondary.gh-btn-reverse.active:focus,
.btn-default.gh-btn-secondary.gh-btn-reverse.active,
ul.nav-tabs li.active {
    background-color: #FFF;
    border-color: #FFF;
    color: #171717;
}

/* Secondary buttons */

.btn-default.gh-btn-tertiary {
    background-color: #FFF;
    border-color: #FFF;
    color: #171717;
}

.btn-default.gh-btn-tertiary:hover,
.btn-default.gh-btn-tertiary:focus {
    background-color: #171717;
    border-color: #171717;
    color: #FFF;
}

.btn-default.gh-btn-tertiary:active {
    background-color: #2A2A2A;
    border-color: #2A2A2A;
}

/* Link buttons */

.btn-link i {
    color: #171717;
}


/*******************/
/* NAVIGATION TABS */
/*******************/

.nav-tabs > li > a {
    color: #FFF;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
}


/**************/
/* EMPTY PART */
/**************/

.gh-empty-icons .fa-calendar-o {
    color: #CCC;
}

.gh-empty-icons .fa-share-square-o {
    color: #07525D;
}


/**************/
/* LIST GROUP */
/**************/

.list-group .list-group-item {
    background-color: #07525D;
    border-bottom-color: #171717;
    color: #FFF;
}

.list-group .list-group-item p {
    color: #FFF;
}

.list-group .list-group-item.gh-list-group-item-open {
    background-color: #3c858e;
}

.list-group .list-group-item .gh-list-action {
    background-color: #127077;
}

.list-group .list-group-item .gh-list-icon i,
.list-group .list-group-item .gh-list-action i {
    color: #FFF;
}

.list-group .list-group-item.gh-list-group-item-added .gh-list-action {
    background-color: #FFF !important;
}

.list-group .list-group-item.gh-list-group-item-added .gh-list-action .btn-link i {
    color: #BE0F34;
}

/* Nested lists */
.list-group .list-group-item.gh-list-group-item-open .list-group .list-group-item {
    background-color: #3C858E;
    border-bottom-color: #127077;
}

.list-group .list-group-item .list-group .list-group-item:hover {
    background-color: #277A81;
}

.list-group .list-group-item .list-group .list-group-item:first-child {
    border-color: #127077;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-action {
    background-color: #07525D;
}

.list-group .list-group-item .gh-list-action.disabled {
    background-color: #127077 !important;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-action,
.list-group .list-group-item .list-group .list-group-item .gh-list-description,
.list-group .list-group-item .list-group .list-group-item .gh-series-borrowed {
    border-top-color: #171717;
}

.list-group .list-group-item .list-group .list-group-item .gh-list-description p.gh-list-metadata:not(.no-information){
    color: #FFF;
}

.list-group .list-group-item .gh-borrowed-icon-container:hover {
    background-color: #D7E0DC;
}

.gh-list-group-item-container.gh-series-active .gh-borrowed-icon-container .fa-link,
.gh-list-group-item-container.gh-series-active .gh-list-action i,
.list-group .list-group-item .gh-borrowed-icon-container:hover .fa-link {
    color: #171717;
}


/*******************/
/* NAVIGATION PILL */
/*******************/

.nav-pills.nav-stacked > li > a {
    background-color: transparent;
    color: #FFF;
}

.nav-pills.nav-stacked > li > a:hover,
.nav-pills.nav-stacked > li > a:focus {
    background-color: #DDD;
    color: #171717;
}

.nav-pills.nav-stacked > li.active > a,
.nav-pills.nav-stacked > li.active > a:hover,
.nav-pills.nav-stacked > li.active > a:focus {
    background-color: #127077;
}

.gh-global-admin .nav-pills.nav-stacked > li.active > a,
.gh-global-admin .nav-pills.nav-stacked > li.active > a:hover,
.gh-global-admin .nav-pills.nav-stacked > li.active > a:focus,
.gh-admin .nav-pills.nav-stacked > li.active > a,
.gh-admin .nav-pills.nav-stacked > li.active > a:hover,
.gh-admin .nav-pills.nav-stacked > li.active > a:focus {
    background-color: #62326E;
}


/**********/
/* PANELS */
/**********/

.panel-group:last-child .panel {
    border-bottom-color: #DDD;
}

.panel-default,
.panel-group:last-child .panel-default {
    border-color: #DDD;
}

/* Striped rows */

.panel-default .panel-body .gh-striped-row:nth-child(odd) {
    background-color: #F9F9F9;
}


/**********/
/* CHOSEN */
/**********/

.chosen-container .chosen-single {
    background: #FFF;
    color: #171717;
}

.chosen-container .chosen-single,
.chosen-container .chosen-drop {
    border-color: #FFF !important;
}

.gh-chosen-inverted .chosen-container .chosen-single,
.gh-chosen-inverted .chosen-container .chosen-drop {
    border-color: #B8B8B8 !important;
}

.chosen-container .chosen-search input {
    color: #555 !important;
    border-color: #CCC !important;
}

.chosen-container .chosen-search input::-webkit-input-placeholder {
   color: #555;
}

.chosen-container .chosen-search input::-moz-placeholder {  /* Firefox 19+ */
   color: #555;
}

.chosen-container .chosen-search input:-ms-input-placeholder {
   color: #555;
}

.chosen-container .chosen-results li.no-results {
    background: none !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #127077;
}

.chosen-container.chosen-with-drop .chosen-drop,
.chosen-container.chosen-with-drop .chosen-single {
    border-color: #DDD !important;
}


/************/
/* CALENDAR */
/************/

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #D4DFDA;
}

/* Primary toolbar */

.gh-toolbar-primary {
    background-color: #127077;
}

.fc-row.fc-widget-header thead tr th,
.fc-month-view .fc-row.fc-widget-header thead tr th:first-child {
    border-bottom-color: #EFF4F2;
}

.fc-agendaDay-view .fc-row.fc-widget-header thead tr th.fc-today,
.fc-agendaWeek-view .fc-row.fc-widget-header thead tr th.fc-today {
    border-bottom-color: #171717 !important;
}

.fc-agendaWeek-view .fc-row.fc-widget-header thead tr th.fc-today {
    background-color: #EFF4F2;
}

.fc-agendaWeek-view td.fc-today,
.fc-month-view td.fc-today {
    background-color: #EFF4F2 !important;
}

.fc-sat,
.fc-sun {
    background-color: #FFF !important;
}

tbody .fc-sat,
tbody .fc-sun {
    background-color: #EFF3F1;
}

.fc-event-container .fc-event {
    background-color: #E7F8F0;
    border-bottom-color: #198289;
    border-left-color: #198289;
}

.fc-event-container .fc-event.highlighted {
    background-color: #0b646f;
}

.fc-event-container .fc-event .fc-content {
    color: #171717;
}

.fc-time-grid-event .fc-location {
    color: #07646F;
}

.fc-event-container .fc-event.highlighted .fc-content,
.fc-time-grid-event.highlighted .fc-content .fc-location {
    color: #FFF;
}

.fc-unthemed .fc-today {
    background-color: transparent;
}

.fc-month-view .fc-day-number.fc-sun,
.fc-month-view .fc-day-number.fc-sat {
    border-left: 1px solid #D4DFDA !important;
    border-top: 1px solid #D4DFDA !important;
}

.fc-month-view .fc-today.fc-day-number {
    background-color: #08525d !important;
    border-right-color: #D4DFDA !important;
    color: #FFF;
}

.fc-month-view .fc-bg td.fc-today:before {
    border-top-color: #414141;
}

/* Export calendar */

#gh-calendar-view.gh-export-enabled #gh-btn-calendar-export {
    background-color: #EEF2F0;
    border-color: #EEF2F0;
    color: #171717;
}

#gh-calendar-view #gh-export-container {
    background: #EEF2F0;
}

#gh-calendar-view #gh-export-container #gh-export-main {
    background-color: #FFF;
}

#gh-calendar-view #gh-export-container #gh-export-main textarea {
    background-color: #FAFAFA;
    border-color: #B3B3B3;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-subscribe {
    background-color: #07525D;
}

#gh-calendar-view #gh-export-container #gh-export-main #gh-export-subscribe:hover {
    background-color: #127077;
}

#gh-calendar-view #gh-export-container #gh-export-collapsed-other-toggle.btn-link i {
    color: #127077;
}

#gh-calendar-view #gh-export-container #gh-export-main ul li i {
    color: rgba(61, 61, 61, 0.4);
}

#gh-calendar-view #gh-export-container > #gh-export-sync-message {
    color: #6C6C6C;
}


/***********/
/* POPOVER */
/***********/

.popover {
    background-color: #F8F6FB;
}

.popover.left > .arrow:after {
    border-left-color: #F8F6FB;
}

.popover.right > .arrow:after {
    border-right-color: #F8F6FB;
}

.popover h3 {
    border-bottom-color: #DDD;
}

.popover small {
    border-top-color: #DDD;
    color: #999;
}

/* Series info popover */

.popover.gh-borrowed-popover,
.popover.gh-borrowed-published-popover {
    background-color: #D7E0DC;
}

.popover.gh-borrowed-popover .arrow:after,
.popover.gh-borrowed-published-popover .arrow:after {
    border-right-color: #D7E0DC;
}


/**********/
/* EVENTS */
/**********/

.gh-event-type::before {
    background-color: #555;
    color: #FFF;
}

.gh-event-type[data-type="Lecture"]::before {
    background-color: #19A3FF;
}

.gh-event-type[data-type="Class"]::before {
    background-color: #FF944D;
}

.gh-event-type[data-type="Seminar"]::before {
    background-color: #92308A;
}

.gh-event-type[data-type="Other"]::before {
    background-color: #FF4719;
}


/*****************/
/* NOTIFICATIONS */
/*****************/

.notifications .alert.alert-success,
.notifications .alert.alert-error {
    background-color: #EDDF7E;
    border-color: #EDDF7E;
    color: #313131;
}

.notifications .alert.alert-error {
    background-color: #D92751;
    border-color: #D92751;
}

.notifications > .alert {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}


/***************/
/* SERIES INFO */
/***************/

.gh-series-popover .gh-popover-location,
.gh-series-popover .gh-popover-organiser {
    border-top-color: #DDD;
}


/*****************/
/* CALENDAR ICON */
/*****************/

.gh-event-calendar-icon {
    border-color: #888;
}

.gh-event-calendar-icon .month {
    background-color: #888;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(136,136,136,0.004);

}

.gh-event-calendar-icon .day {
    background-color: #FFF;
    color: #4D4D4D;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
}

.gh-event-calendar-icon.gh-event-calendar-icon-xl + .dayname {
    color: #919191;
}


/***************/
/* AGENDA VIEW */
/***************/

.agenda-view-term .agenda-view-term-header {
    border-bottom-color: #D8E0DC;
}

.agenda-view-term .agenda-view-term-header button,
.agenda-view-term .agenda-view-term-header button i {
    color: #333;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week {
    border-bottom-color: #D8E0DC;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week h3 span {
    color: #919191;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week  .gh-agenda-view-no-events {
    background-color: #F5F5F5;
    color: #999;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event {
    border-bottom-color: #EEE;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event.gh-agenda-view-today {
    background-color: #EBF3F0;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-information {
    border-bottom-color: #EEE;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event.gh-agenda-view-today .gh-agenda-view-event-information {
    border-bottom-color: #FFF;
}

span.gh-agenda-view-middot {
    color: #919191;
}

.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-module,
.agenda-view-term .agenda-view-term-events .gh-agenda-view-term-week .gh-agenda-view-term-event .gh-agenda-view-event-belongs {
    color: #919191;
}


/*********************/
/* SERIES INFO MODAL */
/*********************/

/* Header */

#gh-series-info-modal .modal-header {
    background-color: #07525D;
}

#gh-series-info-modal .modal-header h4,
#gh-series-info-modal .modal-header button,
#gh-series-info-modal .modal-header p {
    color: #FFF;
}

/* Term */

#gh-series-info-modal .gh-series-info-list .gh-series-info-list-term strong {
    border-bottom-color: #DDD;
}

/* Metadata */

#gh-series-info-modal .gh-series-info-location {
    border-top-color: #AAA;
}

#gh-series-info-modal .gh-series-info-organiser {
    border-top-color: #DDD;
}

#gh-series-info-modal .gh-series-info-list-no-events,
#gh-series-info-modal .gh-series-info-location,
#gh-series-info-modal .gh-series-info-organiser {
    background-color: #EEE;
}
