/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/*********/
/* LOGIN */
/*********/

#gh-login-form label {
    color: #CCC;
}


/***********/
/* BUTTONS */
/***********/

.btn-default.gh-btn-primary {
    background-color: #92308A;
    border-color: #92308A;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse:hover,
.btn-default.gh-btn-secondary.gh-btn-reverse:focus {
    background-color: #62326E;
    border-color: #62326E;
}


/**********/
/* CHOSEN */
/**********/

.chosen-container .chosen-results li.highlighted {
    background-color: #92308A;
}

.chosen-container .chosen-single,
.chosen-container .chosen-drop {
    border-color: #FFF !important;
}


/***********/
/* POPOVER */
/***********/

.popover {
    background-color: #FFF;
}


/**********/
/* LAYOUT */
/**********/

#gh-page-container #gh-left-container #gh-result-summary {
    background-color: #171717;
    border-bottom-color: #171717;
}

.gh-tripos-help {
    color: #FFF;
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    background-color: #412F5B;
}

#gh-main-tripos .gh-video {
    background-image: url('/shared/gh/img/video.png');
}

#gh-main-tripos .gh-video.isPlaying {
    background-color: #000 !important;
    background-image: none;
}

#gh-main-tripos .gh-video:not(.isPlaying) video {
    display: none;
}

.gh-show-video,
.gh-show-video:hover,
#gh-main-tripos .gh-video .gh-video-info,
#gh-main-tripos .gh-video .gh-hide-video i,
#gh-main-tripos > .gh-row-part > .gh-part p,
#gh-main-tripos > .gh-row-part > .gh-part .gh-part-edit,
#gh-main-tripos > .gh-row-part > .gh-part .gh-part-draft,
.gh-visibility,
.gh-visibility:hover {
    color: #FFF;
}

#gh-main-tripos .gh-video .gh-play-video {
    background-color: #FFF;
}

#gh-main-tripos .gh-video .gh-hide-video {
    color: #FFF;
}

#gh-main-tripos .gh-video .gh-hide-video:hover {
    color: #AAA;
}

#gh-main-tripos > .gh-row-part > .gh-part,
#gh-main-tripos > .gh-row-part:nth-child(even) > .gh-part:nth-child(even) {
    background-color: #62326E;
}

#gh-main-tripos > .gh-row-part > .gh-part:nth-child(even),
#gh-main-tripos > .gh-row-part:nth-child(even) > .gh-part {
    background-color: #913389;
}

#gh-main-tripos > .gh-row-part > .gh-part p.gh-part-editing {
    border: 1px solid #FFF;
}

#gh-main-tripos > .gh-row-part > .gh-part .gh-part-edit {
    background-color: #171717;
}

/* Primary toolbar */
.gh-toolbar-primary {
    background-color: #62326E;
}


/**************/
/* LIST GROUP */
/**************/

.list-group .list-group-item {
    background-color: #62326E;
}

.list-group .list-group-item.gh-list-group-item-open {
    background-color: #42305B;
}

.list-group .list-group-item .gh-list-action {
    background-color: transparent !important;
}

.list-group .list-group-item.gh-list-group-item-open .list-group .list-group-item {
    background-color: #42305B;
}

.list-group .list-group-item .list-group .list-group-item:hover .gh-list-description {
    background-color: transparent;
}

.list-group .list-group-item .gh-list-group-item-container .gh-series-select:hover {
    background-color: #62326E;
}

.list-group .list-group-item .list-group .list-group-item:first-child {
    border-color: #594674;
}

.list-group .list-group-item.gh-list-group-item-open .list-group .list-group-item {
    border-bottom-color: #594674;
}


/*********/
/* MODAL */
/*********/

.modal-header {
    background-color: #62326E;
}

.modal-header.gh-warning {
    background-color: #D92751;
}

.modal-header button,
.modal-header .modal-title {
    color: #FFF;
}


/***********/
/* MODULES */
/***********/

.list-group .list-group-item .gh-list-group-item-container .gh-series-select.gh-series-active {
    background-color: #FFF;
}

.list-group .list-group-item .gh-series-select.gh-series-active p,
.list-group .list-group-item .gh-series-select.gh-series-active .gh-list-action i {
    color: #171717;
}


/**************/
/* NEW SERIES */
/**************/

#gh-new-series-form .form-group label {
    color: #171717;
}


/*****************/
/* DELETE SERIES */
/*****************/

#gh-delete-series-modal ul#gh-delete-series-borrowed-list {
    border-bottom-color: #CCC;
    border-top-color: #CCC;
}

#gh-delete-series-modal ul#gh-delete-series-borrowed-list li {
    border-bottom-color: #CCC;
}

#gh-delete-series-modal small,
#gh-delete-series-modal ul#gh-delete-series-borrowed-list li p:first-child {
    color: #6C6C6C;
}


/*****************/
/* BATCH EDITING */
/*****************/

#gh-batch-edit-container.gh-sticky-header {
    -webkit-box-shadow: 0 0px 15px #666;
       -moz-box-shadow: 0 0px 15px #666;
            box-shadow: 0 0px 15px #666;
}

#gh-batch-edit-header.gh-batch-edit-time-open,
#gh-batch-edit-header.gh-batch-edit-time-open #gh-batch-edit-time {
    border-bottom-color: #EEE;
}

#gh-batch-edit-header.gh-batch-edit-time-open #gh-batch-edit-time {
    border-color: #EEE;
    color: #171717;
}

#gh-batch-edit-container,
#gh-batch-edit-header.gh-batch-edit-time-open #gh-batch-edit-time {
    background-color: #FFF;
}

.gh-batch-edit-events-container .table > tbody > tr.info td {
    background-color: #ECF5F9;
}

.gh-batch-edit-actions-container {
    background: #FFF;
    border-top-color: #BEBEBE;
    -webkit-box-shadow: 0 0px 15px #666;
       -moz-box-shadow: 0 0px 15px #666;
            box-shadow: 0 0px 15px #666;
}

.gh-batch-edit-actions-container #gh-batch-edit-change-summary {
    color: #6B6B6B;
}

.gh-batch-edit-actions-container #gh-batch-edit-cancel {
    color: #171717;
}

.gh-batch-edit-events-container .gh-jeditable-form input {
    border-left-color: #DDD;
    border-right-color: #DDD;
}

#gh-batch-edit-container #gh-batch-edit-date-container #gh-batch-edit-date-picker-container .checkbox {
    background-color: #FFF;
}

#gh-batch-edit-container #gh-batch-edit-date-container #gh-batch-edit-date-picker-container .checkbox.gh-batch-edit-date-picker-selected label i {
    color: #62326E;
}

#gh-batch-edit-container #gh-batch-edit-date-container #gh-batch-edit-date-picker-container .checkbox.gh-batch-edit-date-picker-selected {
    border-color: #62326E;
}

/* Event type */
.gh-batch-edit-events-container .gh-event-type::before {
    background-color: #555;
    color: #FFF;
}

.gh-batch-edit-events-container .gh-event-type[data-first=""]::before {
    display: none;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Field Trip"]::before {
    background-color: #7D9D5C;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Lab"]::before {
    background-color: #FF944D;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Lecture"]::before {
    background-color: #19A3FF;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Paper"]::before {
    background-color: #FF4719;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Seminar"]::before {
    background-color: #92308A;
}

/* Terms */
#gh-batch-edit-term-container .gh-batch-edit-events-container.gh-ot tr {
    background-color: #F7F7F7;
}

#gh-batch-edit-term-container .gh-batch-edit-events-container:not(.gh-ot) + .gh-ot {
    border-top-color: #DDD;
}

#gh-batch-edit-term-container .gh-batch-edit-events-container .table > tbody > tr.danger.gh-fade td,
#gh-batch-edit-term-container .gh-batch-edit-events-container .table > tbody > tr.success.gh-fade td {
    background-color: #FFF !important;
}

tr.info .gh-event-delete button i {
    color: #4D4D4D;
}

/* Calendar icon */
.gh-event-calendar-icon {
    border-color: #888;
}

.gh-event-calendar-icon .month {
    background-color: #888;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(136,136,136,0.004);

}

.gh-event-calendar-icon .day {
    background-color: #FFF;
    color: #4D4D4D;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
}


/*************/
/* BORROWING */
/*************/

#gh-borrow-series-modal .list-group .list-group-item .gh-borrow-series-borrowed .gh-list-description {
    background-color: #FFF;
}

#gh-borrow-series-modal .list-group .list-group-item .gh-borrow-series-borrowed .gh-list-description p {
    color: #171717;
}

#gh-borrow-series-modal .list-group .list-group-item i.fa-check {
    color: #42305B;
}


/**************/
/* EDIT DATES */
/**************/

/* Date picker */
#gh-edit-dates .ui-datepicker-header .ui-datepicker-prev,
#gh-edit-dates .ui-datepicker-header .ui-datepicker-next {
    color: #333;
}

#gh-edit-dates .ui-datepicker-header .ui-datepicker-title {
    color: #777;
}

#gh-edit-dates .ui-datepicker-calendar th,
#gh-edit-dates .ui-datepicker-calendar td {
    border-color: #EEE;
}

#gh-edit-dates .ui-datepicker-calendar th {
    background-color: #EEE;
    color: #777;
}

#gh-edit-dates .ui-datepicker-calendar td a {
    color: #222;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-other-month,
#gh-edit-dates .ui-datepicker-calendar td.ui-state-disabled {
    background-color: #F3F3F3;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-other-month *,
#gh-edit-dates .ui-datepicker-calendar td.ui-state-disabled * {
    color: #CCC;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-today {
    background-color: #62326E;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-current-day * ,
#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-today * {
    color: #FFF;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-current-day {
    background-color: #92308A;
}

/* Form */
#gh-edit-dates #gh-edit-dates-form label {
    color: #777;
}


/**************/
/* VISIBILITY */
/**************/

#gh-visibility-modal #gh-visibility-form label .gh-visibility-icon-container {
    background-color: #EEE;
    border-color: #EEE;
    color: #8D8D8D;
}

#gh-visibility-modal #gh-visibility-form label.checked .gh-visibility-icon-container .visibility-type,
#gh-visibility-modal #gh-visibility-form label.checked .gh-visibility-icon-container i.fa-eye-slash,
#gh-visibility-modal #gh-visibility-form label.checked .gh-visibility-icon-container i.fa-eye,
#gh-visibility-modal #gh-visibility-form label.checked small {
    color: #333;
}

#gh-visibility-modal #gh-visibility-form label small p {
    border-top-color: #BBB;
}

#gh-visibility-modal #gh-visibility-form label.checked small p {
    border-top-color: #333;
}

#gh-visibility-modal #gh-visibility-form label.checked .gh-visibility-icon-container {
    background-color: #FFF;
    border-color: #62326E;
}

#gh-visibility-modal #gh-visibility-form label .gh-visibility-icon-container i.fa-check {
    color: #62326E;
}

#gh-visibility-modal #gh-visibility-form #gh-visibility-divider i.fa {
    color: #939393;
}

#gh-visibility-modal #gh-visibility-form #gh-visibility-publish-warning {
    background-color: #E0E6E4;
    color: #555;
}


/***************/
/* AUTOSUGGEST */
/***************/

.as-selections {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    border-color: #CCC !important;
}

ul.as-selections.loading {
    background-color: transparent !important;
}

.as-selections .as-original input {
    background-color: #EEE;
    border-top-color: #BEBEBE !important;
}

.as-selections .as-selection-item.blur,
ul.as-selections li.as-selection-item {
    background-color: #E7F8F0 !important;
}

.gh-batch-event-collapsed .as-selections .as-original input,
.as-selections .as-original:first-child input {
    background-color: #FFF;
}

.as-selections .as-selection-item {
    background-color: transparent !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}

.as-selections .as-selection-item .as-close {
    color: #171717 !important;
}

.as-results .as-list .as-result-item,
.as-results .as-list .as-result-item.active {
    background-color: #FFF !important;
    background-image: none !important;
    color: #171717 !important;
}

.as-results .as-list {
    border-color: #CCC !important;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !important;
       -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !important;
}

.as-results .as-list .as-result-item.active {
    background-color: #92308A !important;
    color: #FFF !important;
}

.as-results .as-list .as-result-item.active em,
.as-results .as-list .as-result-item em {
    background-color: #412F5B !important;
}
