/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***********/
/* BUTTONS */
/***********/

.btn-default.gh-btn-primary {
    background-color: #92308A;
    border-color: #92308A;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse:hover,
.btn-default.gh-btn-secondary.gh-btn-reverse:focus {
    background-color: #62326E;
    border-color: #62326E;
}


/**********/
/* CHOSEN */
/**********/

.chosen-container .chosen-results li.highlighted {
    background-color: #92308A;
}


/**********/
/* LAYOUT */
/**********/

#gh-page-container #gh-left-container #gh-result-summary {
    background-color: #171717;
    border-bottom-color: #171717;
}

.gh-tripos-help {
    color: #FFF;
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    background-color: #412F5B;
}

#gh-main-tripos .gh-video {
    background-color: #CCC !important;
}

.gh-show-video,
.gh-show-video:hover,
#gh-main-tripos .gh-video .gh-video-info,
#gh-main-tripos .gh-video .gh-hide-video i,
#gh-main-tripos > .gh-row-part > .gh-part p,
#gh-main-tripos > .gh-row-part > .gh-part .gh-part-edit,
#gh-main-tripos > .gh-row-part > .gh-part .gh-part-draft {
    color: #FFF;
}

#gh-main-tripos .gh-video .gh-play-video {
    background-color: #FFF;
}

#gh-main-tripos > .gh-row-part > .gh-part,
#gh-main-tripos > .gh-row-part:nth-child(even) > .gh-part:nth-child(even) {
    background-color: #62326E;
}

#gh-main-tripos > .gh-row-part > .gh-part:nth-child(even),
#gh-main-tripos > .gh-row-part:nth-child(even) > .gh-part {
    background-color: #913389;
}

#gh-main-tripos > .gh-row-part > .gh-part p.gh-part-editing {
    border: 1px solid #FFF;
}

#gh-main-tripos > .gh-row-part > .gh-part .gh-part-edit {
    background-color: #171717;
}

/* Primary toolbar */
.gh-toolbar-primary {
    background-color: #62326E;
}

/**************/
/* LIST GROUP */
/**************/

.list-group .list-group-item {
    background-color: #62326E;
}

.list-group .list-group-item.gh-list-group-item-open {
    background-color: #42305B;
}

.list-group .list-group-item .gh-list-action {
    background-color: transparent !important;
}

.list-group .list-group-item.gh-list-group-item-open .list-group .list-group-item {
    background-color: #42305B;
}


/*********/
/* MODAL */
/*********/

.modal-header {
    background-color: #62326E;
}

.modal-header button,
.modal-header .modal-title {
    color: #FFF;
}


/***********/
/* MODULES */
/***********/

.list-group .list-group-item .gh-list-group-item-container .gh-series-select.gh-series-active {
    background-color: #FFF;
}

.list-group .list-group-item .gh-series-select.gh-series-active p,
.list-group .list-group-item .gh-series-select.gh-series-active .gh-list-action i {
    color: #171717;
}


/**************/
/* NEW SERIES */
/**************/

#gh-new-series-form {
    border-color: #EEE;
}

#gh-new-series-form .form-group:first-child {
    -webkit-box-shadow: inset 0px -5px 6px -3px rgba(204,204,204,1);
       -moz-box-shadow: inset 0px -5px 6px -3px rgba(204,204,204,1);
            box-shadow: inset 0px -5px 6px -3px rgba(204,204,204,1);
}

#gh-new-series-form .form-group label {
    color: #777;
}

#gh-new-series-form #gh-create-series-submit {
    background-color: #171717;
}


/*************/
/* BORROWING */
/*************/

#gh-borrow-series-modal .list-group .list-group-item .gh-borrow-series-borrowed .gh-list-description {
    background-color: #FFF;
}

#gh-borrow-series-modal .list-group .list-group-item .gh-borrow-series-borrowed .gh-list-description p {
    color: #171717;
}

#gh-borrow-series-modal .list-group .list-group-item i.fa-check {
    color: #42305B;
}
