/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/*********/
/* LOGIN */
/*********/

#gh-login-form label {
    color: #CCC;
}


/***********/
/* BUTTONS */
/***********/

.btn-default.gh-btn-primary {
    background-color: #92308A;
    border-color: #92308A;
    color: #FFF;
}

.btn-default.gh-btn-secondary.gh-btn-reverse:hover,
.btn-default.gh-btn-secondary.gh-btn-reverse:focus {
    background-color: #62326E;
    border-color: #62326E;
}


/**********/
/* CHOSEN */
/**********/

.chosen-container .chosen-results li.highlighted {
    background-color: #92308A;
}


/***********/
/* POPOVER */
/***********/

.popover {
    background-color: #FFF;
}


/**********/
/* LAYOUT */
/**********/

#gh-page-container #gh-left-container #gh-result-summary {
    background-color: #171717;
    border-bottom-color: #171717;
}

.gh-tripos-help {
    color: #FFF;
}

#gh-page-container #gh-right-container #gh-subheader,
#gh-page-container #gh-left-container #gh-content-description {
    background-color: #412F5B;
}

#gh-main-tripos .gh-video {
    background-color: #CCC !important;
}

.gh-show-video,
.gh-show-video:hover,
#gh-main-tripos .gh-video .gh-video-info,
#gh-main-tripos .gh-video .gh-hide-video i,
#gh-main-tripos > .gh-row-part > .gh-part p,
#gh-main-tripos > .gh-row-part > .gh-part .gh-part-edit,
#gh-main-tripos > .gh-row-part > .gh-part .gh-part-draft,
.gh-visibility,
.gh-visibility:hover {
    color: #FFF;
}

#gh-main-tripos .gh-video .gh-play-video {
    background-color: #FFF;
}

#gh-main-tripos .gh-video .gh-hide-video {
    color: #FFF;
}

#gh-main-tripos .gh-video .gh-hide-video:hover {
    color: #AAA;
}

#gh-main-tripos > .gh-row-part > .gh-part,
#gh-main-tripos > .gh-row-part:nth-child(even) > .gh-part:nth-child(even) {
    background-color: #62326E;
}

#gh-main-tripos > .gh-row-part > .gh-part:nth-child(even),
#gh-main-tripos > .gh-row-part:nth-child(even) > .gh-part {
    background-color: #913389;
}

#gh-main-tripos > .gh-row-part > .gh-part p.gh-part-editing {
    border: 1px solid #FFF;
}

#gh-main-tripos > .gh-row-part > .gh-part .gh-part-edit {
    background-color: #171717;
}

/* Primary toolbar */
.gh-toolbar-primary {
    background-color: #62326E;
}


/**************/
/* LIST GROUP */
/**************/

.list-group .list-group-item {
    background-color: #62326E;
}

.list-group .list-group-item.gh-list-group-item-open {
    background-color: #42305B;
}

.list-group .list-group-item .gh-list-action {
    background-color: transparent !important;
}

.list-group .list-group-item.gh-list-group-item-open .list-group .list-group-item {
    background-color: #42305B;
}


/*********/
/* MODAL */
/*********/

.modal-header {
    background-color: #62326E;
}

.modal-header button,
.modal-header .modal-title {
    color: #FFF;
}


/***********/
/* MODULES */
/***********/

.list-group .list-group-item .gh-list-group-item-container .gh-series-select.gh-series-active {
    background-color: #FFF;
}

.list-group .list-group-item .gh-series-select.gh-series-active p,
.list-group .list-group-item .gh-series-select.gh-series-active .gh-list-action i {
    color: #171717;
}


/**************/
/* NEW SERIES */
/**************/


#gh-new-series-form .form-group label {
    color: #8D8D8D;
}


/*****************/
/* BATCH EDITING */
/*****************/

#gh-batch-edit-header.gh-batch-edit-time-open,
#gh-batch-edit-header.gh-batch-edit-time-open #gh-batch-edit-time {
    border-bottom-color: #EEE;
}

#gh-batch-edit-header.gh-batch-edit-time-open #gh-batch-edit-time {
    border-color: #EEE;
    color: #171717;
}

#gh-batch-edit-container,
#gh-batch-edit-header.gh-batch-edit-time-open #gh-batch-edit-time {
    background-color: #FFF;
}

.gh-batch-edit-events-container .table > tbody > tr.info td {
    background-color: #ECF5F9;
}

.gh-batch-edit-actions-container {
    background: #FFF;
    border-top-color: #EEE;
}

.gh-batch-edit-actions-container #gh-batch-edit-change-summary {
    color: #999;
}

.gh-batch-edit-events-container .gh-jeditable-form input {
    border-left-color: #DDD;
    border-right-color: #DDD;
}

#gh-batch-edit-container #gh-batch-edit-date-container #gh-batch-edit-date-picker-container .checkbox {
    background-color: #FFF;
}

#gh-batch-edit-container #gh-batch-edit-date-container #gh-batch-edit-date-picker-container .checkbox.gh-batch-edit-date-picker-selected label i {
    color: #62326E;
}

#gh-batch-edit-container #gh-batch-edit-date-container #gh-batch-edit-date-picker-container .checkbox.gh-batch-edit-date-picker-selected {
    border-color: #62326E;
}

/* Event type */
.gh-batch-edit-events-container .gh-event-type::before {
    background-color: #555;
    color: #FFF;
}

.gh-batch-edit-events-container .gh-event-type[data-first=""]::before {
    display: none;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Field Trip"]::before {
    background-color: #7D9D5C;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Lab"]::before {
    background-color: #FF944D;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Lecture"]::before {
    background-color: #19A3FF;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Paper"]::before {
    background-color: #FF4719;
}

.gh-batch-edit-events-container .gh-event-type[data-type="Seminar"]::before {
    background-color: #92308A;
}

/* Calendar icon */
.gh-event-calendar-icon {
    border-color: #888;
}

.gh-event-calendar-icon .month {
    background-color: #888;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(136,136,136,0.004);

}

.gh-event-calendar-icon .day {
    background-color: #FFF;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
}


/*************/
/* BORROWING */
/*************/

#gh-borrow-series-modal .list-group .list-group-item .gh-borrow-series-borrowed .gh-list-description {
    background-color: #FFF;
}

#gh-borrow-series-modal .list-group .list-group-item .gh-borrow-series-borrowed .gh-list-description p {
    color: #171717;
}

#gh-borrow-series-modal .list-group .list-group-item i.fa-check {
    color: #42305B;
}


/**************/
/* EDIT DATES */
/**************/

/* Date picker */
#gh-edit-dates .ui-datepicker-header .ui-datepicker-prev,
#gh-edit-dates .ui-datepicker-header .ui-datepicker-next {
    color: #333;
}

#gh-edit-dates .ui-datepicker-header .ui-datepicker-title {
    color: #777;
}

#gh-edit-dates .ui-datepicker-calendar th,
#gh-edit-dates .ui-datepicker-calendar td {
    border-color: #EEE;
}

#gh-edit-dates .ui-datepicker-calendar th {
    background-color: #EEE;
    color: #777;
}

#gh-edit-dates .ui-datepicker-calendar td a {
    color: #222;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-other-month,
#gh-edit-dates .ui-datepicker-calendar td.ui-state-disabled {
    background-color: #F3F3F3;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-other-month *,
#gh-edit-dates .ui-datepicker-calendar td.ui-state-disabled * {
    color: #CCC;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-today {
    background-color: #62326E;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-current-day * ,
#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-today * {
    color: #FFF;
}

#gh-edit-dates .ui-datepicker-calendar td.ui-datepicker-current-day {
    background-color: #92308A;
}

/* Form */
#gh-edit-dates #gh-edit-dates-form label {
    color: #777;
}


/**************/
/* VISIBILITY */
/**************/

#gh-visibility-modal #gh-visibility-form label .gh-visibility-icon-container {
    background-color: #EEE;
    border-color: #EEE;
    color: #333;
}

#gh-visibility-modal #gh-visibility-form label.checked small {
    color: #333;
}

#gh-visibility-modal #gh-visibility-form label.checked .gh-visibility-icon-container {
    background-color: #FFF;
    border-color: #62326E;
}

#gh-visibility-modal #gh-visibility-form label .gh-visibility-icon-container i.fa-check {
    color: #62326E;
}

#gh-visibility-modal #gh-visibility-form label small p.warning {
    background-color: #E0E6E4;
}
