/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***************/
/* AGENDA VIEW */
/***************/

#gh-my-agenda-view-container {

    /* Term */

    .agenda-view-term {
        margin: 0 30px;

        &:first-child {
            margin: 25px 30px 0;
        }

        &:last-child {
            margin: 0 30px 25px;
        }

        .agenda-view-term-header {
            border-bottom-style: solid;
            border-bottom-width: 5px;
            padding: 12px 12px 7px;

            button,
            button i {
                font-size: 19px;
                font-weight: 600;
                height: 38px;
                padding: 5px;
            }

            button i {
                width: 20px;
            }
        }

        /* Events */

        .agenda-view-term-events {

            /* Week */

            .gh-agenda-view-term-week {
                border-bottom-style: solid;
                border-bottom-width: 3px;
                font-weight: 400;
                margin-bottom: 15px;
                padding: 0 12px 15px;

                &:last-child {
                    border-bottom: none !important;
                }

                .gh-btn-load-next-week {
                    display: none;
                }

                &:last-child .gh-btn-load-next-week {
                    display: block;
                    margin-top: 20px;
                }

                h3 {
                    font-size: 16px;
                    margin: 15px 0 12px;
                }

                .gh-agenda-view-no-events {
                    padding: 20px;
                    text-align: center;
                }

                /* Event */

                .gh-agenda-view-term-event {
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    overflow: hidden;
                    padding: 12px;

                    .gh-calendar-icon-container {
                        float: left;
                        height: 66px;
                        margin-right: 15px;
                        width: 50px;
                    }

                    .gh-agenda-view-event-information {
                        margin-left: 65px;
                        overflow: auto;
                        padding: 12px 12px 12px 0;
                        position: relative;
                        border-bottom-style: solid;
                        border-bottom-width: 1px;

                        .gh-event-type-container {
                            margin-top: 10px;
                            width: 100px;
                        }

                        .gh-agenda-view-middot {
                            font-size: 30px;
                            line-height: 0;
                            margin: 0 3px;
                            vertical-align: sub;
                        }
                    }

                    &.gh-agenda-view-today .gh-agenda-view-event-information {
                        border-bottom-style: solid;
                        border-bottom-width: 1px;
                    }

                    .gh-calendar-icon-container + .gh-agenda-view-event-information {
                        padding: 0 12px 12px 0;
                    }

                    .gh-agenda-view-event-time,
                    .gh-agenda-view-event-location,
                    .gh-agenda-view-event-organisers,
                    .gh-agenda-view-event-belongs {
                        font-size: 14px;
                    }
                }

                .gh-agenda-view-term-event::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                div.gh-agenda-view-term-event:last-of-type,
                .gh-agenda-view-term-event .gh-agenda-view-event-information:last-child,
                .gh-agenda-view-term-event.gh-agenda-view-today:last-child,
                .gh-agenda-view-term-event.gh-agenda-view-today .gh-agenda-view-event-information:last-child {
                    border-bottom: none;
                    padding-bottom: 5px !important;
                }
            }
        }
    }
}
