/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***********/
/* IMPORTS */
/***********/

@import 'gh.mixins';


/*********/
/* PANEL */
/*********/

.panel-default .panel-body .panel-subheading {
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 0 15px;
}

.panel .panel-title > a:hover,
.panel .panel-title > a:focus {
    text-decoration: none;
}

.panel,
.panel-group .panel,
.panel-heading {
    @include border-radius(0);
    font-size: 16px;
}

.panel-group,
.panel .panel-heading h2 {
    margin: 0;
}

.panel-group .panel {
    border-bottom: none;
}

.panel-group:last-child .panel {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.panel-default,
.panel-group:last-child .panel-default {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 25px;
}

.gh-administration-container .panel-default .panel-heading,
.gh-administration-container .panel-default .panel-body {
    overflow: hidden;
}

.panel-group .panel-default {
    border-bottom: none;
    margin-bottom: 0;
}

.panel-default .panel-heading h4.panel-title::after,
.panel-default .panel-heading span::after {
    clear: both;
    content: '';
    display: block;
}

.panel-default.gh-striped-container .panel-body {
    padding-bottom: 0;
}

/* Striped rows */

.panel-default .panel-body .gh-striped-row {
    padding: 9px 0;
}

/* Editable content elements */

.panel-default .panel-body .gh-striped-row input[type="checkbox"] {
    display: block;
    height: 12px;
    margin: 13px auto;
    width: 12px;
}

.panel-default .panel-body .gh-striped-row p {
    margin: 10px auto;
    width: 100%;
}

.panel-default .panel-body .gh-striped-row input[type="text"],
.panel-default .panel-body .gh-striped-row input[type="password"],
.panel-default .panel-heading .gh-striped-container-search input {
    padding: 4px 7px 0;
    width: 100%;
}

.panel-default .panel-body .gh-striped-row input[type="text"],
.panel-default .panel-body .gh-striped-row input[type="password"] {
    height: 39px;
}

.panel-default .panel-body .gh-striped-row button,
.panel-default .panel-body .gh-striped-row a {
    width: 100%;
}

/* Search */

.panel-default .panel-heading .gh-striped-container-search + h4 {
    line-height: 2.1;
}

.panel-default .panel-heading .gh-striped-container-search {
    width: 400px;
}

.panel-default .panel-heading .gh-striped-container-search button {
    height: 34px;
    padding: 6px 12px;
}
