/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */


/***********/
/* IMPORTS */
/***********/

@import 'gh.mixins';


/*********************/
/* SERIES INFO MODAL */
/*********************/

#gh-series-info-modal {

    /* Header */

    .modal-header {
        padding: 25px 25px 0 !important;

        i {
            display: inline-block;
            margin-left: 8px;
            margin-right: 8px;
        }

        .gh-series-info-hierarchy {
            max-width: -moz-calc(100% - 50px);
            max-width: -o-calc(100% - 50px);
            max-width: -webkit-calc(100% - 50px);
            max-width: calc(100% - 50px);
        }
    }

    /* Body */

    .modal-body {
        padding: 20px;

        .gh-series-info-list {
            margin-top: 15px;
            max-height: 325px;
            overflow: auto;

            > div {
                padding-left: 10px;

                &:not(:first-child) {
                    padding-top: 20px;
                }
            }

            /* Term */

            .gh-series-info-list-term {
                position: relative;

                strong {
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    display: block;
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                }
            }

            .gh-series-info-list-no-events {
                padding: 10px;
            }

            /* Event */

            .gh-series-info-list-event {
                clear: both;
                height: 35px;
                position: relative;

                > div {
                    float: left;
                }

                .gh-series-info-list-event-title {
                    max-width: -moz-calc(100% - 230px);
                    max-width: -o-calc(100% - 230px);
                    max-width: -webkit-calc(100% - 230px);
                    max-width: calc(100% - 230px);
                    overflow: hidden;
                    padding-right: 7px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .gh-series-info-list-event-type {
                    min-width: 30px;
                }

                .gh-series-info-list-event-date {
                    min-width: 200px;

                    .gh-event-display-date {
                        padding-left: 30px;
                    }
                }
            }
        }

        /* Metadata */

        .gh-series-info-location,
        .gh-series-info-organiser {
            border-top-style: solid;
            border-top-width: 1px;
            padding: 10px 15px;
        }
    }
}
