<div id="gh-edit-dates">
    <form id="gh-edit-dates-form" role="form">
        <div class="col-xs-7 gh-col-datepicker" id="gh-datepicker"></div>
        <div class="col-xs-5 gh-col-time">
            <div id="gh-edit-dates-weeks"><!-- --></div>
            <div class="form-group">
                <label class="sr-only" for="gh-module-day">day</label>
                <select id="gh-module-day" class="form-control">
                    <option value="4" data-day="0">Thursday</option>
                    <option value="5" data-day="1">Friday</option>
                    <option value="6" data-day="2">Saturday</option>
                    <option value="0" data-day="3">Sunday</option>
                    <option value="1" data-day="4">Monday</option>
                    <option value="2" data-day="5">Tuesday</option>
                    <option value="3" data-day="6">Wednesday</option>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="gh-module-from-hour">from</label>
                <select id="gh-module-from-minutes" class="form-control gh-select-time pull-right">
                    <% for (var i = 0; i < 60; i += data.interval.minutes) { %>
                        <option value="<%= data.gh.utils.addLeadingZero(i) %>"><%- data.gh.utils.addLeadingZero(i) %></option>
                    <% } %>
                </select>
                <select id="gh-module-from-hour" class="form-control gh-select-time pull-right">
                    <% for (var i = 7; i < 20; i += data.interval.hours) { %>
                        <option value="<%= data.gh.utils.addLeadingZero(i) %>"><%- data.gh.utils.addLeadingZero(i) %></option>
                    <% } %>
                </select>
                <label for="gh-module-from-hour" class="pull-right">from</label>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="gh-module-to-minutes">to</label>
                <select id="gh-module-to-minutes" class="form-control gh-select-time pull-right">
                    <% for (var i = 0; i < 60; i += data.interval.minutes) { %>
                        <option value="<%= data.gh.utils.addLeadingZero(i) %>"><%- data.gh.utils.addLeadingZero(i) %></option>
                    <% } %>
                </select>
                <select id="gh-module-to-hour" class="form-control gh-select-time pull-right">
                    <% for (var i = 7; i < 20; i += data.interval.hours) { %>
                        <option value="<%= data.gh.utils.addLeadingZero(i) %>"><%- data.gh.utils.addLeadingZero(i) %></option>
                    <% } %>
                </select>
                <label for="gh-module-to-hour" class="pull-right">to</label>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
    <div id="gh-edit-dates-buttons">
        <button type="button" id="gh-edit-dates-cancel" class="btn btn-link pull-left" data-dismiss="popover">Cancel</button>
        <button type="button" id="gh-edit-dates-apply" class="btn btn-default pull-right" disabled>Apply</button>
    </div>
</div>
