<%
    var partId = parseInt(data.state.part, 10);
    var part = data.utils.getPartById(partId);
%>
<div id="gh-result-summary">
    <button class="btn btn-default gh-btn-secondary gh-btn-reverse pull-right gh-collapse-modules" title="Toggle the modules list">
        <i class="fa fa-angle-double-left"></i>
        <i class="fa fa-angle-double-right"></i>
    </button>
    <button type="button" class="btn btn-default gh-btn-secondary gh-btn-reverse gh-new-module" data-partid="<%= partId %>" data-groupid="<%= part.GroupId %>"><i class="fa fa-plus-square"></i> New module</button>
</div>
<div id="gh-modules-list-container" data-partId="<%= partId %>">
    <ul id="gh-modules-list" class="list-group">

        <% var renderAdminModuleItem = function(orgunit, state) { %>
            <%
                var isChild = typeof orgunit.isChild === 'undefined' ? false : orgunit.isChild;
                var groupId = orgunit.GroupId;
            %>

            <li class="list-group-item<% if (orgunit.expanded || parseInt(state.module, 10) === orgunit.id) { %> gh-list-group-item-open<% } %>" <% if (isChild) { %>data-id="<%- orgunit.id %>"<% } else { %>data-moduleid="<%- orgunit.id %>"<% } %>>
                <div class="gh-list-group-item-container <% if (parseInt(state.series, 10) === orgunit.id && orgunit.moduleMatch) { %> gh-series-active<% } %>">
                    <% if (!isChild) { %>
                        <button class="btn btn-link gh-toggle-list">
                            <div class="gh-list-icon">
                                <i class="fa<% if (orgunit.expanded) { %> fa-caret-down<% } else { %> fa-caret-right<% } %>"></i>
                            </div>
                    <% } else { %>
                        <button class="btn btn-link gh-series-select">
                    <% } %>
                            <div class="gh-list-description">
                                <p class="gh-list-description-text"><%- orgunit.displayName %></p>
                            </div>
                        </button>
                        <% if (isChild) { %>
                            <div class="<% if (orgunit.borrowedFrom) { %>gh-series-borrowed<% } else { %>gh-list-action<% } %>">
                                <span <% if (orgunit.borrowedFrom) { %>class="gh-borrowed-icon-container"<% } %>>
                                <% if (orgunit.borrowedFrom) { %>
                                    <i class="fa fa-link" data-id="<%- orgunit.id %>"></i>
                                <% } else { %>
                                    <i class="fa fa-angle-right"></i>
                                <% } %>
                                </span>
                            </div>
                            <% if (orgunit.borrowedFrom) {%>
                                <% var randomId = data.utils.generateRandomString(); %>
                                <div id="<%- randomId %>">
                                    <% _.partial('series-borrowed-popover', {'data': orgunit}, null, '#' + randomId) %>
                                </div>
                            <% } %>
                        <% } %>
                        <% if (!isChild) { %>
                            <ul class="nav nav-pills pull-right" role="tablist">
                                <li role="presentation" class="dropdown">
                                    <button id="gh-batch-edit-settings" class="btn btn-default gh-btn-secondary gh-btn-reverse" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Module settings</span>
                                        <i class="fa fa-cog"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="gh-batch-edit-settings">
                                        <li role="presentation">
                                            <button type="button" class="btn btn-default gh-btn-secondary gh-new-series" role="menuitem" data-groupid="<%- groupId %>">New series</button>
                                        </li>
                                        <li role="presentation">
                                            <button type="button" class="btn btn-default gh-btn-secondary gh-borrow-series" role="menuitem">Borrow series</button>
                                        </li>
                                        <li role="presentation">
                                            <button type="button" class="btn btn-default gh-btn-secondary gh-rename-module" role="menuitem" data-displayname="<%- orgunit.displayName %>">Rename module</button>
                                        </li>
                                        <li role="presentation">
                                            <button type="button" class="btn btn-default gh-btn-secondary gh-delete-module" role="menuitem">Delete module</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        <% } %>
                </div>
                <% if (orgunit.Series) { %>
                    <ul class="list-group hide">
                        <%
                            _.each(orgunit.Series, function(series) {
                                series.isChild = true;
                                series.moduleMatch = parseInt(state.module, 10) === orgunit.id;
                                renderAdminModuleItem(series, state);
                            });
                        %>
                        <% if (!orgunit.isChild) { %>
                            <div class="gh-list-group-series-actions">
                                <button type="button" class="btn btn-default gh-btn-secondary gh-btn-reverse gh-new-series" data-groupid="<%- groupId %>"><i class="fa fa-plus-square"></i> New series</button>
                                <button type="button" class="btn btn-default gh-btn-secondary gh-btn-reverse gh-borrow-series"><i class="fa fa-link"></i> Borrow</button>
                            </div>
                        <% } %>
                    </ul>
                <% } %>
            </li>
        <% } %>

        <%
            _.each(data.modules, function(module) {
                renderAdminModuleItem(module, data.state);
            });
        %>
    </ul>
</div>
