<button type="button" class="btn btn-default gh-btn-secondary gh-btn-reverse gh-home pull-left" style="display: none;"><i class="fa fa-home"></i></button>
<form class="row form-horizontal pull-left">
    <select id="gh-subheader-tripos" class="chosen-select" data-placeholder="Select an area of study to edit" style="display: none; width: 350px;" tabindex="0"><!-- --></select>
    <select id="gh-subheader-part" class="chosen-select gh-chosen-no-search" data-placeholder="Choose a part or paper to edit" style="display: none; width: 350px;" tabindex="0"><!-- --></select>
</form>
<div id="gh-subheader-visibility"><!-- --></div>
