<% var dayIndex = parseInt(data.dayIndex, 10) %>
<% var daysInUse = _.map(data.daysInUse, function(value, key) { return parseInt(key, 10); }) %>

<div class="form-inline gh-batch-edit-time-picker">
    <select class="pull-left form-control gh-batch-edit-day-picker" data-prev="<%- data.dayIndex %>">
        <% if (dayIndex === 7) { %>
            <option value="7" <% if (dayIndex === 7) { %> selected="true" <% } %>>Choose a day</option>
        <% } %>
        <option value="4" <% if (dayIndex === 4) { %> selected="true" <% } else if (_.indexOf(daysInUse, 4) > -1) {%> disabled<% } %>>Thursdays</option>
        <option value="5" <% if (dayIndex === 5) { %> selected="true" <% } else if (_.indexOf(daysInUse, 5) > -1) {%> disabled<% } %>>Fridays</option>
        <option value="6" <% if (dayIndex === 6) { %> selected="true" <% } else if (_.indexOf(daysInUse, 6) > -1) {%> disabled<% } %>>Saturdays</option>
        <option value="0" <% if (dayIndex === 0) { %> selected="true" <% } else if (_.indexOf(daysInUse, 0) > -1) {%> disabled<% } %>>Sundays</option>
        <option value="1" <% if (dayIndex === 1) { %> selected="true" <% } else if (_.indexOf(daysInUse, 1) > -1) {%> disabled<% } %>>Mondays</option>
        <option value="2" <% if (dayIndex === 2) { %> selected="true" <% } else if (_.indexOf(daysInUse, 2) > -1) {%> disabled<% } %>>Tuesdays</option>
        <option value="3" <% if (dayIndex === 3) { %> selected="true" <% } else if (_.indexOf(daysInUse, 3) > -1) {%> disabled<% } %>>Wednesdays</option>
    </select>
    <div class="pull-left gh-batch-edit-date-start">
        <select class="form-control gh-batch-edit-hours-picker gh-batch-edit-hours-start">
            <% for (var i = 7; i < 20; i += 1) { %>
                <option value="<%= i %>" <% if (parseInt(data.dayInUse.startHour, 10) === i ) { %> selected="true" <% } %>><%- data.gh.utils.addLeadingZero(i) %></option>
            <% } %>
        </select>
        <select class="form-control gh-batch-edit-minutes-picker gh-batch-edit-minutes-start">
            <% for (var i = 0; i < 60; i += 15) { %>
                <option value="<%= i %>" <% if (parseInt(data.dayInUse.startMinute, 10) === i ) { %> selected="true" <% } %>><%- data.gh.utils.addLeadingZero(i) %></option>
            <% } %>
        </select>
    </div>
    <p class="pull-left gh-batch-edit-date-to">to</p>
    <div class="pull-left gh-batch-edit-date-end">
        <select class="form-control gh-batch-edit-hours-picker gh-batch-edit-hours-end">
            <% for (var i = 7; i < 20; i += 1) { %>
                <option value="<%= i %>" <% if (parseInt(data.dayInUse.endHour, 10) === i ) { %> selected="true" <% } %>><%- data.gh.utils.addLeadingZero(i) %></option>
            <% } %>
        </select>
        <select class="form-control gh-batch-edit-minutes-picker gh-batch-edit-minutes-end">
            <% for (var i = 0; i < 60; i += 15) { %>
                <option value="<%= i %>" <% if (parseInt(data.dayInUse.endMinute, 10) === i ) { %> selected="true" <% } %>><%- data.gh.utils.addLeadingZero(i) %></option>
            <% } %>
        </select>
    </div>

    <!-- Only show the delete button if more than one days are in use -->
    <% if (daysInUse.length > 1) { %>
        <button class="btn btn-link gh-batch-edit-date-delete" title="Delete day from selection"><i class="fa fa-trash"></i></button>
    <% } %>
</div>
