<% isChild = (typeof isChild === 'undefined') ? false : isChild; %>

<% var records = (!isChild) ? data.modules : data; %>

<% if (!records.length) { %>
    <div class="gh-admin-borrow-series-no-modules">This part does not have any modules and event series that can be borrowed.</div>
<% } %>

<% _.each(records, function(d) { %>
    <li class="list-group-item <% if (d.expanded) { %>gh-list-group-item-open<% } %>" data-id="<%- d.id %>">
        <div class="gh-list-group-item-container">
            <% if (!isChild) { %>
                <button class="btn btn-link gh-toggle-list">
                    <div class="gh-list-icon">
                        <i class="fa <% if (d.expanded) { %>fa-caret-down<% } else { %>fa-caret-right<% } %>"></i>
                    </div>
            <% } %>
                    <div class="gh-list-description">
                        <% if (isChild) { %>
                            <i class="fa fa-check"></i>
                        <% } %>
                        <p><%- d.displayName %></p>
                    </div>
                    <% if (isChild) { %>
                        <div class="gh-list-action">
                            <button type="button" class="btn btn-default gh-btn-secondary gh-btn-reverse gh-borrow-series-select"><i class="fa fa-plus-square"></i> Add</button>
                            <button type="button" class="btn btn-default gh-btn-secondary gh-btn-reverse gh-borrow-series-deselect"><i class="fa fa-close"></i></button>
                        </div>
                    <% } %>
            <% if (!isChild) { %>
                </button>
            <% } %>
        </div>
        <% if (d.Series) { %>
            <ul class="list-group hide">
                <% var randomId = utils.generateRandomString(); %>
                <li id="<%- randomId %>">
                    <% _.partial('admin-borrow-series-module-item', {
                        'data': d.Series,
                        'isChild': true,
                        'utils': data.utils
                    }, null, '#' + randomId) %>
                </li>
            </ul>
        <% } %>
    </li>
<% }); %>
