<h1>Configuration</h1>

<div class="panel-default">
    <h3 class="panel-heading"><%- app.Tenant.displayName %> - <%- app.displayName %> - <%- app.host %></h3>
    <div class="panel-body">
    <form role="form" class="gh-configuration-form" data-appid="<%= app.id %>">
            <% _.each(config, function(value, option) { %>
                <% if (option === 'AppId' || option === 'terms' || option === 'events') { return; }%>
                <% if (typeof value === 'boolean') { %>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="<%= option %>" value="<%= value %>" <% if (value === true) { %> checked<% } %>> <%= option %>
                        </label>
                    </div>
                <% } else { %>
                    <div class="form-group">
                        <label for="<%= option %>"><%= option %></label>
                        <input type="text" class="form-control" id="<%= option %>" value="<%= value %>" name="<%= option %>">
                    </div>
                <% } %>
            <% }); %>
            <button type="submit" class="btn btn-primary">Update configuration</button>
        </form>
    </div>
</div>
