main h1 {
    margin-bottom: 20px;
}

main h2 {
    margin: 30px 0 12px;
}

.gh-administration-container {
    margin: 20px;
}

.gh-administration-container th {
    font-weight: 600;
}

.gh-administration-container th,
.gh-administration-container td {
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

.gh-administration-container td:first-child {
    padding-left: 15px;
}

.gh-administration-container input[type="text"],
.gh-administration-container input[type="password"] {
    width: 100%;
    font-weight: 200;
    padding: 4px 7px 0;
    line-height: 1.7;
}

.panel {
    border-radius: 0;
}

.panel .panel-heading h2 {
    margin: 0;
}

.panel.gh-administration-new-container {
    border-bottom: none;
}

.panel.gh-administration-new-container .panel-heading input {
    margin-right: 12px;
    width: 250px;
}

.panel .panel-body {
    padding: 0;
}

form, table {
    margin-bottom: 0 !important;
}
