/*!
 * Copyright 2015 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

main h1 {
    margin-bottom: 20px;
}

main h2 {
    margin: 30px 0 12px;
}

.gh-administration-container {
    margin: 20px;
}

.gh-administration-container th {
    font-weight: 600;
}

.gh-administration-container th,
.gh-administration-container td {
    border-top: none;
    text-align: center;
    vertical-align: middle;
}

.gh-administration-container td:first-child {
    padding-left: 15px;
}

.gh-administration-container input[type="text"],
.gh-administration-container input[type="password"] {
    font-weight: 200;
    line-height: 1.7;
    padding: 4px 7px 0;
    width: 100%;
}

.panel.gh-administration-new-container {
    border-bottom: none;
}

.panel.gh-administration-new-container .panel-heading input {
    margin-right: 12px;
    width: 250px;
}

.panel .panel-body {
    padding: 0;
}

.panel .panel-body button {
    min-width: 100px;
}

form, table {
    margin-bottom: 0 !important;
}
